@model NumberSearch.Ops.EFModels.ProductOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <input asp-for="ServiceId" class="form-control" />
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DialedNumber" class="control-label"></label>
                <input asp-for="DialedNumber" class="form-control" />
                <span asp-validation-for="DialedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortedDialedNumber" class="control-label"></label>
                <input asp-for="PortedDialedNumber" class="form-control" />
                <span asp-validation-for="PortedDialedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortedPhoneNumberId" class="control-label"></label>
                <input asp-for="PortedPhoneNumberId" class="form-control" />
                <span asp-validation-for="PortedPhoneNumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerifiedPhoneNumberId" class="control-label"></label>
                <input asp-for="VerifiedPhoneNumberId" class="form-control" />
                <span asp-validation-for="VerifiedPhoneNumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CouponId" class="control-label"></label>
                <input asp-for="CouponId" class="form-control" />
                <span asp-validation-for="CouponId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
