@model NumberSearch.Ops.Models.ProductOrderResult
@{
    ViewData["Title"] = "Product Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 p-3">🎁 Product Orders</h1>
    <a asp-action="Create" asp-route-orderId="@Model?.ProductOrders?.FirstOrDefault()?.OrderId" class="btn btn-lg btn-success">Create New</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th>
                <th>
                    Order
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    Quantity
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.ProductOrders is not null)
            {
                foreach (var item in Model.ProductOrders)
                {
                    <tr>
                        <td>
                            @{
                                if (!string.IsNullOrWhiteSpace(item.DialedNumber))
                                {
                                    var foreignId = $"Purchased Number {item.DialedNumber}";
                                    <a href="/Home/NumberOrders/@item.DialedNumber" class="btn btn-primary">@item.DialedNumber</a>
                                }
                                else if (item.PortedPhoneNumberId is not null && item.PortedPhoneNumberId != Guid.Empty)
                                {
                                    var foreignId = $"Ported Number {item.PortedDialedNumber}";
                                    @foreignId
                                }
                                else if (item.VerifiedPhoneNumberId is not null && item.VerifiedPhoneNumberId != Guid.Empty)
                                {
                                    var foreignId = $"Verified Number {item.VerifiedPhoneNumberId}";
                                    @foreignId
                                }
                                else if (item.ProductId is not null && item.ProductId != Guid.Empty)
                                {
                                    var foreignId = $"Product Id {item.ProductId.ToString()}";
                                    var product = Model?.Products?.Where(x => x.ProductId == item.ProductId).FirstOrDefault();
                                    <a href="/Products/Edit/@product?.ProductId" class="btn btn-primary">@product?.Name</a>
                                }
                                else if (item.ServiceId is not null && item.ServiceId != Guid.Empty)
                                {
                                    var foreignId = $"Service Id {item.ServiceId.ToString()}";
                                    var service = Model?.Services?.Where(x => x.ServiceId == item.ServiceId).FirstOrDefault();
                                    foreignId = $"{service?.Name}";
                                    @foreignId
                                }
                                else if (item.CouponId is not null && item.CouponId != Guid.Empty)
                                {
                                    var foreignId = $"Coupon Id {item.CouponId.ToString()}";
                                    var coupon = Model?.Coupons?.Where(x => x.CouponId == item.CouponId).FirstOrDefault();
                                    <a href="/Home/Coupons/@coupon?.CouponId" class="btn btn-primary">@coupon?.Name</a>
                                }
                            }
                        </td>
                        <td>
                            <a href="/Home/Order/@item?.OrderId" class="btn btn-primary">Order</a>
                        </td>
                        <td>
                            @item?.CreateDate
                        </td>
                        <td>
                            @item?.Quantity
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-action="Edit" asp-route-id="@item?.ProductOrderId" class="btn btn-warning">Edit</a>
                                <a asp-action="Details" asp-route-id="@item?.ProductOrderId" class="btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item?.ProductOrderId" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>