@model AccelerateNetworks.Operations.Product

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4 p-3">🎁 Create Product</h1>
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3 mb-3">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name" class="form-label"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Price" class="form-control" type="number" />
                <label asp-for="Price" class="form-label"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="InstallTime" type="number" class="form-control" min="0" />
                <label asp-for="InstallTime" class="control-label">Required Install Time in Hours</label>
                <span asp-validation-for="InstallTime" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="Description" class="form-control" style="height: 10vh"></textarea>
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Image" class="form-control" />
                <label asp-for="Image" class="form-label"></label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div class="form-check form-switch mt-1">
                    <input class="form-check-input" type="checkbox" asp-for="Public" role="switch" id="public">
                    <label class="form-check-label" for="public">@Html.DisplayNameFor(model => model.Public)</label>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="QuantityAvailable" class="form-control" />
                <label asp-for="QuantityAvailable" class="form-label"></label>
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="SupportLink" class="form-control" />
                <label asp-for="SupportLink" class="form-label"></label>
                <span asp-validation-for="SupportLink" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DisplayPriority" class="form-control" type="number" />
                <label asp-for="DisplayPriority" class="form-label"></label>
                <span asp-validation-for="DisplayPriority" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="VendorPartNumber" class="form-control" />
                <label asp-for="VendorPartNumber" class="form-label"></label>
                <span asp-validation-for="VendorPartNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Type" class="form-label"></label>
                <select class="form-select" id="inputGroupSelect01" asp-for="Type" required>
                    <option value="Phone" selected>Phone</option>
                    <option value="Accessory">Accessory</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Tags" class="form-control" />
                <label asp-for="Tags" class="form-label"></label>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="VendorDescription" class="form-control" style="height: 10vh"></textarea>
                <label asp-for="VendorDescription" class="form-label"></label>
                <span asp-validation-for="VendorDescription" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="VendorFeatures" class="form-control" style="height: 10vh"></textarea>
                <label asp-for="VendorFeatures" class="form-label"></label>
                <span asp-validation-for="VendorFeatures" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <textarea asp-for="MarkdownContent" class="form-control" style="height: 10vh"></textarea>
                <label asp-for="MarkdownContent" class="control-label">Markdown entered here will replace text in the VendorFeatures</label>
                <span asp-validation-for="MarkdownContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
