
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page scroll indicator-->
<div class="progress sticky-top" style="height: 0.2rem">
  <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="scrollIndicator"></div>
</div>
<!-- Navbar (Solid background)-->
<header class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky navbar-shadow" data-scroll-header data-fixed-element>
  <div class="container px-0 px-xl-3">
    <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand flex-shrink-0 order-lg-1 ms-lg-0 pe-lg-2 me-lg-4" href="/"><img class="d-none d-lg-block" src="/images/scaled/accelerate.png" alt="Accelerate Networks" width="153"><img class="d-lg-none" src="/images/scaled/favicon-194x194.png" alt="Accelerate Networks" width="58"></a>
    <div class="d-flex align-items-center order-lg-3 ms-lg-auto"><a class="nav-link-style fs-sm text-nowrap d-none d-lg-inline-block" href="tel:12068588757">Talk to an expert: <strong>(206) 858-8757</strong></a><a class="d-md-none text-reset" href="tel:12068588757"><i class="ai-phone fs-xl me-2 align-middle"></i></a><a class="btn btn-brand-secondary ms-grid-gutter d-none d-lg-inline-block" href="/pricing">Get started</a></div>
    <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
      <div class="offcanvas-header navbar-shadow">
        <h5 class="mt-1 mb-0">Menu</h5>
        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Menu-->
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="#" data-bs-toggle="dropdown">Resources</a>
            <div class="dropdown-menu" style="min-width:400px">
              <div class="row">
                <div class="col-sm-6"><a class="dropdown-item" href="/support">Knowledge base</a><a class="dropdown-item" href="/lookup">Port your number</a></div>
                <div class="col-sm-6"><a class="dropdown-item" href="https://blog.acceleratenetworks.com">Blog</a><a class="dropdown-item" href="/about">About us</a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="offcanvas-footer border-top">
        <button class="btn btn-brand-secondary btn-sm w-100" type="button">Get started</button>
      </div>
    </div>
  </div>
</header>

<section class="py-7">
  <div class="container">
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Our Story</h1>
    </div>
  </div>
</section>
<section class="pb-7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">🏙️&nbsp;Local Values</h4>
          </div>
            <div class="card-body">
              <p>
                Dan, Scott, Kyle, and Tom all graduated from Ballard High School here in Seattle, Washington.
              </p>
              <p>
                Established in 2015, Accelerate Networks delivers a better solution for business phone service. We understand the frustrations companies felt with ineffective technology, increasing prices, and lackluster customer support. Our team saw an opportunity to do right by clients and to help their businesses succeed!
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="card mb-4 shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">🧑‍🤝‍🧑&nbsp;Community Commitment</h4>
          </div>
          <div class="card-body">
            <p>
                We are committed to doing our part in the community. Kyle and Scott both are passionate members of the Ballard Rotary Club and spend many weekends helping on local projects. Accelerate Networks is an active member of the Queen Anne Chamber of Commerce, Edmonds Chamber, Seattle Chamber, and the GSBA.
            </p>
            <p>
                As an <a href="https://greenbiztracker.org/business/details/Seattle/AccelerateNetworks" target="_blank" rel="noopener noreferrer">EnviroStars Champion</a> certified by <a href="https://www.seattle.gov/utilities/protecting-our-environment/sustainability-tips/green-your-business/envirostars" target="_blank" rel="noopener noreferrer">Seattle Public Utilities</a>, we often deploy refurbished phones, reuse hardware, eliminate plastic waste, and partner with local electronic recyclers to properly dispose of old equipment. Operating ethically and safely is our passion!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8 offset-md-2">
          <div class="card mb-4 shadow">
              <div class="card-header">
                  <h4 class="my-0 font-weight-normal">🤗&nbsp;Customer Obsession</h4>
              </div>
              <div class="card-body">
                  <p>
                      Communications bills from our competitors are often hard to understand. Hidden fees like regulatory cost recovery fees or voice network investment fees are rarely disclosed prior to signing a contract despite adding 15% to 25% in cost!
                  </p>
                  <p>
                      Unlike our competitors we do not hide fees or raise prices two months down the road, and our team is skilled in gathering accurate information to help you to make an informed, apples to apples comparison of phone and internet services.
                  </p>
                  <p>
                      When a business decides to upgrade to a system powered by Accelerate Networks we bring a skilled and knowledgeable team to the table that is adept at providing effective solutions. We act as an advocate for our clients, ensuring they have a reliable network and communications system.
                  </p>
              </div>
          </div>
      </div>

      <div class="col-md-8 offset-md-2">
          <div class="card mb-4 shadow">
              <div class="card-header">
                  <h4 class="my-0 font-weight-normal">✔️&nbsp;Proven Success</h4>
              </div>
              <div class="card-body">
                  <p>
                      Over the years we have come to serve grocers, law practices, mechanics, doctors and plumbers across the nation, while also contributing to the Free Software community by writing patches and documentation for the projects we use to serve our clients.
                  </p>
                  <p>
                      If you need great phone service for your business, call Accelerate Networks!
                  </p>
              </div>
          </div>
      </div>
    </div>
    </div>
</section>
<section class="bg-faded-primary py-7">
  <div class="container">
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Our Mission</h1>
    </div>
    <div class="row">
        <div class="offset-md-2 col-md-8">
                <p class="lead">
                    We <strong>accelerate businesses</strong> by delivering reliable & flexible phone systems at a low price, with friendly customer support who is always ready to help! 🚀
                </p>
        </div>
    </div>
  </div>
</section>
<section class="py-7">
  <div class="container">
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Our People</h1>
    </div>
    <div class="row pb-4">
        <div class="col-6">
          <div class="card shadow" id="scott">
            <img src="~/images/scaled/IMG_1528.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center">Scott</h2>
                <h4 class="text-muted text-center">Director of Sales</h4>
                <p class="card-text text-center">If you have a communications problem, Scott can build you a solution.</p>
            </div>
            <div class="card-footer text-center">
                <a href="tel:12064083008">(206) 408 - 3008</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card shadow" id="kyle">
            <img src="~/images/scaled/DSC07553.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center">Kyle</h2>
                <h4 class="text-muted text-center">Customer Evangelist</h4>
                <p class="card-text text-center">
                    With an uncanny knack for finding ways to save customers money, Kyle is adept at building solutions to
                    meet the customer's needs.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="tel:12064158676">(206) 415 - 8676</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-6">
          <div class="card shadow" id="quentin">
            <img src="~/images/scaled/IMG_1505-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center">Quentin</h2>
                <h4 class="text-muted text-center">Customer Evangelist</h4>
                <p class="card-text text-center">
                    With an uncanny knack for finding ways to save customers money, Quentin is adept at building solutions to
                    meet the customer's needs.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="tel:12064158676">(206) 415 - 8676</a>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card shadow" id="dan">
            <img src="~/images/scaled/DSC08279-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="card-title text-center">Dan</h2>
                <h4 class="text-muted text-center">Lead Support Engineer</h4>
                <p class="card-text text-center">
                    Building and configuring infrastructure to serve our clients needs is what Dan accels at.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="https://github.com/danry25" target="_blank" rel="noopener noreferrer">Github - danry25</a>
            </div>
          </div>
        </div>
      </div>
  <div class="row pb-4">
      <div class="col-6">
        <div class="card shadow" id="thomas">
          <img src="~/images/scaled/DSC08288-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="card-title text-center">Thomas</h2>
              <h4 class="text-muted text-center">Principal Software Developer</h4>
              <p class="card-text text-center">
                  Enterprise software is Thomas's calling. Building stable, reliable, and open source software is his goal.
              </p>
          </div>
          <div class="card-footer text-center">
              <a href="https://github.com/uncheckederror" target="_blank" rel="noopener noreferrer">Github - uncheckederror</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card shadow" id="jesse">
          <img src="~/images/scaled/DSC08263-3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h2 class="card-title text-center">Jesse</h2>
              <h4 class="text-muted text-center">Software Developer</h4>
              <p class="card-text text-center">
                  As our resident mobile app developer, Jesse understands your needs; Troubleshooting is his calling, and he's an expert in VoIP systems.
              </p>
          </div>
          <div class="card-footer text-center">
              <a href="https://github.com/piajesse" target="_blank" rel="noopener noreferrer">Github - piajesse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-faded-primary py-7">
  <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4 text-center pb-3"></h1>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">We proudly participate in</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-0 d-flex wrap justify-content-around row row-cols-3">
                            <li>
                                <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/scaled/gsba-logo.png" class="img-fluid"
                                         alt="Greater Seattle Business Alliance">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.queenannechamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/qacc-logo.png" class="img-fluid"
                                         alt="Queen Anne Chamber of Commerce">
                                </a>
                            </li>
                            <li class="pr-3">
                                <a href="https://edmondschamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/edmondscoc.gif" class="img-fluid"
                                         alt="Edmonds Chamber of Commerce">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/seattlesouthsidecoc.jpg" class="img-fluid"
                                         alt="Seattle Southside Chamber of Commerce" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.thegsba.org/chba" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/chba.png" class="img-fluid"
                                         alt="Capitol Hill Business Alliance" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.seattlechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/scoc-logo.jpg" class="img-fluid"
                                         alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://mukilteochamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/MukilteoChamber-320.png" class="img-fluid"
                                         alt="Mukilteo Chamber of Commerce">
                                </a>
                            </li>
                            @* <li>
                                    <a href="https://www.thegsba.org/chba" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="~/images/scaled/chba.png" class="img-fluid"
                                             alt="Capitol Hill Business Alliance" style="width: 80%;">
                                    </a>
                                </li> *@
                            <li>
                                <a href="https://www.rotaryclubofballard.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/Ballard-Rotary.png" class="img-fluid"
                                         alt="Ballard Rotary">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
