@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">Join our Network</h1>
                <h4 class="display-4 text-light d-block d-sm-none">Join our Network</h4>
                <p class="lead text-white">The right people and the right values.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light p-3">
    <div class="container">
        <div class="pricing-header mx-auto p-2 text-center">
            <h1 class="display-4">Our Mission</h1>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <p class="lead text-center">
                    We <strong>accelerate businesses</strong> by delivering reliable & flexible phone systems at a honest price, with friendly customer support who is always ready to help! 🚀
                </p>
            </div>
        </div>
    </div>
</section>
<div class="p-3">
    <div class="container">
        <div class="pricing-header mx-auto p-2 text-center">
            <h1 class="display-4">Our People</h1>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card-deck">
                    <div class="card shadow" id="dan">
                        <img src="~/images/scaled/DSC08279-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title text-center">Dan</h2>
                            <h4 class="text-muted text-center">Chief Executive Officer</h4>
                        </div>
                    </div>
                    <div class="card shadow" id="thomas">
                        <img src="~/images/scaled/DSC08288-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title text-center">Thomas</h2>
                            <h4 class="text-muted text-center">Principal Software Developer</h4>
                        </div>
                    </div>
                    <div class="card shadow" id="ian">
                        <img src="~/images/scaled/ianheadshot.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title text-center">Ian</h2>
                            <h4 class="text-muted text-center">Software Developer</h4>
                        </div>
                    </div>
                    <div class="card shadow" id="jesse">
                        <img src="~/images/scaled/DSC08263-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title text-center">Jesse</h2>
                            <h4 class="text-muted text-center">Software Developer</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>
<section class=" p-md-5 p-3">
    <div class="container">
        <h2 class="mb-2">🏙️&nbsp;Local Values</h2>
        <p>
            Established in 2015, Accelerate Networks delivers a better solution for business phone service. We understand the frustrations companies felt with ineffective technology, increasing prices, and lackluster customer support. Our team saw an opportunity to do right by clients and to help their businesses succeed!
        </p>
        <h2 class="mb-2">🧑‍🤝‍🧑&nbsp;Community Commitment</h2>
        <p>
            We are committed to doing our part in the community. Dan is a passionate member of the Connections Museum and has spent many weekends helping on local projects. Accelerate Networks is an active member of the Queen Anne Chamber of Commerce, Edmonds Chamber, Seattle Chamber, and the GSBA.
        </p>
        <p>
            As an <a href="https://greenbiztracker.org/business/details/Seattle/AccelerateNetworks" target="_blank" rel="noopener noreferrer">EnviroStars Champion</a> certified by <a href="https://www.seattle.gov/utilities/protecting-our-environment/sustainability-tips/green-your-business/envirostars" target="_blank" rel="noopener noreferrer">Seattle Public Utilities</a>, we often deploy refurbished phones, reuse hardware, eliminate plastic waste, and partner with local electronic recyclers to properly dispose of old equipment. Operating ethically and safely is our passion!
        </p>
        <h2 class="mb-2">🤗&nbsp;Customer Obsession</h2>
        <p>
            Communications bills from our competitors are often hard to understand. Hidden fees like regulatory cost recovery fees or voice network investment fees are rarely disclosed prior to signing a contract despite adding 15% to 25% in cost!
        </p>
        <p>
            Unlike our competitors we do not hide fees or raise prices two months down the road, and our team is skilled in gathering accurate information to help you to make an informed, apples-to-apples comparison of phone and internet services.
        </p>
        <p>
            When a business decides to upgrade to a system powered by Accelerate Networks we bring a skilled and knowledgeable team to the table that is adept at providing effective solutions. We act as an advocate for our clients, ensuring they have a reliable network and communications system.
        </p>
        <h2 class="mb-2">✔️&nbsp;Proven Success</h2>
        <p>
            Over the years we have come to serve grocers, law practices, mechanics, doctors and plumbers across the nation, while also contributing to the Free Software community by writing patches and documentation for the projects we use to serve our clients.
        </p>
        <p>
            If you need great phone service for your business, call Accelerate Networks!
        </p>
    </div>
</section>
<section class="p-md-5 p-3 bg-light">
    <div class="container">
        <h2 class="mb-2">💪&nbsp;We proudly participate in our Community</h2>
        <p class="lead mb-4 pb-2">Accelerate Networks is an active member of the Queen Anne Chamber of Commerce, Edmonds Chamber, and the Seattle Chamber.</p>
        <div class="row text-center text-sm-start pt-4">
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                    <img src="./images/scaled/gsba-logo.webp" class="img-fluid"
                         alt="Greater Seattle Business Alliance" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.queenannechamber.org/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/qacc-logo.webp" class="img-fluid"
                         alt="Queen Anne Chamber of Commerce" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://edmondschamber.com/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/edmondscoc.webp" class="img-fluid"
                         alt="Edmonds Chamber of Commerce" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/seattlesouthsidecoc.webp" class="img-fluid"
                         alt="Seattle Southside Chamber of Commerce" style="width: 80%;" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.thegsba.org/chba" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/chba.webp" class="img-fluid"
                         alt="Capitol Hill Business Alliance" style="width: 80%;" loading="lazy">
                </a>
            </div>
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.seattlechamber.com/" target="_blank"
            rel="noopener noreferrer">
            <img src="./images/scaled/scoc-logo.webp" class="img-fluid"
            alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;" loading="lazy">
            </a>
            </div> *@
            <div class="col-sm-4 text-left mb-3">
                <a href="https://mukilteochamber.org/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="~/images/scaled/MukilteoChamber-320.webp" class="img-fluid"
                         alt="Mukilteo Chamber of Commerce" loading="lazy">
                </a>
            </div>
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.rotaryclubofballard.org/" target="_blank"
            rel="noopener noreferrer">
            <img src="~/images/original/EnviroStars2020-e1608007992822.webp" class="img-fluid" height="100px"
            alt="Ballard Rotary" loading="lazy" style="max-height: 200px;">
            </a>
            </div> *@
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.rotaryclubofballard.org/" target="_blank"
            rel="noopener noreferrer">
            <img src="~/images/scaled/Ballard-Rotary.webp" class="img-fluid"
            alt="Ballard Rotary" loading="lazy">
            </a>
            </div> *@
        </div>
    </div>
</section>
<section class="p-3 p-md-5">
    <div class="container">
        <div class="row">
            <div class="col text-center align-items-center">
                <h2 class="mb-3">Connecting you with faster Fiber, Wireless and Wired Internet!</h2>
                <p class="text-muted">Help your business move faster & communicate better with quicker internet, better phones and seamless texting.</p>
                <a class="btn btn-primary btn-lg p-4 m-3 shadow" href="/Services">Start Now</a>
                <p class="text-muted">or talk to an expert at</p>
                <a href="tel:12063333341" class="btn btn-lg btn-outline-dark">(206) 333-3341</a>
            </div>
        </div>
    </div>
</section>