
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-4 text-center">
        <h1 class="display-4">Our Story</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="col-xl-4 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Local Values</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>Our mission</strong> is to be the best communications provider a client could
                            ask for, with
                            flexible systems, reasonable prices and dependable support.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">In 2015</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>Accelerate Networks</strong> began in 2015 serving small, independent green
                            grocers who were
                            being
                            hampered by the limitations of their legacy phone systems.
                        </p>
                        <p>
                            Our clients sought phones and
                            texting
                            that were easy to use, yet what we found was an industry with poor security, aggressive
                            billing
                            tactics and inadequate customer service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">And Today</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            <strong>Phones</strong> should not hamper business, thus we built a service that made
                            advanced features
                            accessible to businesses all over the Puget Sound region.
                        </p>
                        <p>
                            Over the intervening years we
                            have come to serve grocers, chain stores, dentists, doctors and plumbers across the
                            region, while also contributing to the Free Software community by writing patches and
                            documentation for the projects we use internally.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricing-header mx-auto pb-4 pt-4 text-center">
        <h1 class="display-4">Our People</h1>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img src="~/images/scaled/Scott Strong-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Scott</h2>
                    <h4 class="text-muted text-center">Director of Sales</h4>
                    <p class="card-text text-center">If you have a communications problem, Scott can build you a solution.</p>
                </div>
                <div class="card-footer text-center">
                    <a href="tel:12064083008">(206) 408 - 3008</a>
                </div>
            </div>
            <div class="card">
                <img src="~/images/scaled/DSC07553.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Kyle</h2>
                    <h4 class="text-muted text-center">Customer Evangelist</h4>
                    <p class="card-text text-center">
                        With an uncanny knack for finding ways to save customers money, Kyle is adept at building solutions to
                        meet the customer's needs.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="tel:12064158676">(206) 415 - 8676</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img src="~/images/scaled/DSC08263-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Jesse</h2>
                    <h4 class="text-muted text-center">Software Developer</h4>
                    <p class="card-text text-center">
                        As our resident mobile app developer, Jesse understands your needs; Troubleshooting is his calling, and he's an expert in VoIP systems.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/piajesse" target="_blank" rel="noopener noreferrer">Github - piajesse</a>
                </div>
            </div>
            <div class="card">
                <img src="~/images/scaled/DSC08279-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Dan</h2>
                    <h4 class="text-muted text-center">Lead Support Engineer</h4>
                    <p class="card-text text-center">
                        Building and configuring infrastructure to serve our clients needs is what Dan accels at.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/danry25" target="_blank" rel="noopener noreferrer">Github - danry25</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img src="~/images/scaled/DSC08288-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">Thomas</h2>
                    <h4 class="text-muted text-center">Principal Software Developer</h4>
                    <p class="card-text text-center">
                        Enterprise software is Thomas's calling. Building stable, reliable, and open source software is his goal.
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a href="https://github.com/uncheckederror" target="_blank" rel="noopener noreferrer">Github - uncheckederror</a>
                </div>
            </div>
            <div class="card invisible">
                <img src="~/headthumb.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Thaddaeus</h2>
                    <h4 class="text-muted">Customer Success Specalist</h4>
                    <p class="card-text">
                        Implementing solutions and interacting with existing carriers is Thaddaeuses forte. He is a tireless
                        advocate, ensuring continuity of service during transistions.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="tel:12064086448">(206) 408 - 6448</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
            <h1 class="display-4 text-center pb-3">We proudly participate in</h1>
            <div class="card-deck text-center pb-5">
                <div class="card box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Community Organizations</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-0 d-flex wrap justify-content-around row row-cols-3">
                            <li>
                                <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/scaled/gsba-logo.png" class="img-fluid"
                                         alt="Greater Seattle Business Alliance">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.queenannechamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/qacc-logo.png" class="img-fluid"
                                         alt="Queen Anne Chamber of Commerce">
                                </a>
                            </li>
                            <li class="pr-3">
                                <a href="https://edmondschamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/edmondscoc.gif" class="img-fluid"
                                         alt="Edmonds Chamber of Commerce">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/seattlesouthsidecoc.jpg" class="img-fluid"
                                         alt="Seattle Southside Chamber of Commerce" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.thegsba.org/chba" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/chba.png" class="img-fluid"
                                         alt="Capitol Hill Business Alliance" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.seattlechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/scoc-logo.jpg" class="img-fluid"
                                         alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://mukilteochamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/MukilteoChamber-320.png" class="img-fluid"
                                         alt="Mukilteo Chamber of Commerce">
                                </a>
                            </li>
                            @* <li>
                                    <a href="https://www.thegsba.org/chba" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="~/images/scaled/chba.png" class="img-fluid"
                                             alt="Capitol Hill Business Alliance" style="width: 80%;">
                                    </a>
                                </li> *@
                            <li>
                                <a href="https://www.rotaryclubofballard.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/Ballard-Rotary.png" class="img-fluid"
                                         alt="Ballard Rotary">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>