@{
    ViewData["Title"] = "Careers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">Find a Career</h1>
                <p class="lead text-white">Come work with us.</p>
            </div>
        </div>
    </div>
</section>
<div class="container pt-5">
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">Customer Service Representative (Level 2)</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">💰 $20 to $25 per hour</li>
                        <li class="list-group-item">📅 <strong>9am to 1pm</strong> on Weekdays, 6 PM Staff meeting on Tuesdays</li>
                        <li class="list-group-item">⏱️ Part-time, 21 Hours per week total</li>
                        <li class="list-group-item">⛱️ 1099 Contractor, Unpaid leave as desired</li>
                        <li class="list-group-item">⏰ Posted 4/3/2023, Closes 4/17/2023</li>
                    </ul>
                    <div class="card-body">
                        <p><strong>🎯 Ideal qualifications:</strong></p>
                        <ul>
                            <li>Prior IT background</li>
                            <li>Customer Service Experience</li>
                            <li>Basic networking knowledge</li>
                            <li>Understands a bit about DHCP and DNS</li>
                            <li>Capable of level 1 and level 2 technical debugging on phones</li>
                            <li>Basic network troubleshooting, i.e.</li>
                            <li>Familiarity with SSH</li>
                        </ul>
                        <p><strong>⚙️ Responsiblities:</strong></p>
                        <ul>
                            <li>Writing down an accurate take of what the user is experiencing as the issue, and then following our documented processes to go and debug said issue.</li>
                            <li>Capturing debug logs, if available, on the relevant phone or device, and then forwarding that on to the relevant vendor or internal specialist.</li>
                            <li>Updating hardware to the latest firmware and boarding devices in Grandstream Device Management, or Yealink Device Management System</li>
                            <li>Changing call routing (ring groups, voicemails, destinations of phone numbers, time conditions, follow me, call flows)</li>
                            <li>Analysing call records to see how a call was handled</li>
                            <li>Setting users up on our mobile and Desktop 🖥️ applications</li>
                            <li>Configuring microphones and headsets with users to enable a reliable audio experience</li>
                            <li>Creating FusionPBX user accounts</li>
                            <li>Walking customers through placing orders on our website and through our available products and services</li>
                            <li>Updating E911 addresses in Ops</li>
                            <li>Ordering hardware from our wholesale vendors</li>
                            <li>Following up with clients post-sale to ensure their phones work to serve their needs</li>
                            <li>Pinging to see if we can get to the local router, and to say 8.8.8.8, and also to places like google.com, and to our servers, from the context of our endpoints on a customer's network</li>
                        </ul>
                        <p><strong>☎️ Why us?</strong></p>
                        <p>We are a boutique telephony provider and we pride ourselves on the quality of our customer support and our ability to solve our customer's problems. In this role you'll directly help people everyday and your work will make a difference to our customers.</p>
                        <p>To apply for this position please email dan at acceleratenetworks dot com. Attach a copy of your current résumé and tell us why you're interested in this positon. Please provide 1 professional and 2 personal references to help us verify your credentials.</p>
                        <a class="btn btn-success" href="mailto:dan@acceleratenetworks.com?subject=Customer Service Representative 9pm to 1pm">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-header text-center">
                        <h4 class="my-0 font-weight-normal">Customer Service Representative (Level 2)</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">💰 $20 to $25 per hour</li>
                        <li class="list-group-item">📅 <strong>1pm to 5pm</strong> on Weekdays, 6 PM Staff meeting on Tuesdays</li>
                        <li class="list-group-item">⏱️ Part-time, 21 Hours per week total</li>
                        <li class="list-group-item">⛱️ 1099 Contractor, Unpaid leave as desired</li>
                        <li class="list-group-item">⏰ Posted 4/3/2023, Closes 4/17/2023</li>
                    </ul>
                    <div class="card-body">
                        <p><strong>🎯 Ideal qualifications:</strong></p>
                        <ul>
                            <li>Prior IT background</li>
                            <li>Customer Service Experience</li>
                            <li>Basic networking knowledge</li>
                            <li>Understands a bit about DHCP and DNS</li>
                            <li>Capable of level 1 and level 2 technical debugging on phones</li>
                            <li>Basic network troubleshooting, i.e.</li>
                            <li>Familiarity with SSH</li>
                        </ul>
                        <p><strong>⚙️ Responsiblities:</strong></p>
                        <ul>
                            <li>Writing down an accurate take of what the user is experiencing as the issue, and then following our documented processes to go and debug said issue.</li>
                            <li>Capturing debug logs, if available, on the relevant phone or device, and then forwarding that on to the relevant vendor or internal specialist.</li>
                            <li>Updating hardware to the latest firmware and boarding devices in Grandstream Device Management, or Yealink Device Management System</li>
                            <li>Changing call routing (ring groups, voicemails, destinations of phone numbers, time conditions, follow me, call flows)</li>
                            <li>Analysing call records to see how a call was handled</li>
                            <li>Setting users up on our mobile and Desktop 🖥️ applications</li>
                            <li>Configuring microphones and headsets with users to enable a reliable audio experience</li>
                            <li>Creating FusionPBX user accounts</li>
                            <li>Walking customers through placing orders on our website and through our available products and services</li>
                            <li>Updating E911 addresses in Ops</li>
                            <li>Ordering hardware from our wholesale vendors</li>
                            <li>Following up with clients post-sale to ensure their phones work to serve their needs</li>
                            <li>Pinging to see if we can get to the local router, and to say 8.8.8.8, and also to places like google.com, and to our servers, from the context of our endpoints on a customer's network</li>
                        </ul>
                        <p><strong>☎️ Why us?</strong></p>
                        <p>We are a boutique telephony provider and we pride ourselves on the quality of our customer support and our ability to solve our customer's problems. In this role you'll directly help people everyday and your work will make a difference to our customers.</p>
                        <p>To apply for this position please email dan at acceleratenetworks dot com. Attach a copy of your current résumé and tell us why you're interested in this positon. Please provide 1 professional and 2 personal references to help us verify your credentials.</p>
                        <a class="btn btn-success" href="mailto:dan@acceleratenetworks.com?subject=Customer Service Representative 1pm to 5pm">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>