
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-light p-5" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light">Features you want</h1>
                <p class="lead text-white">If you can name it, we have it.</p>
            </div>
        </div>
    </div>
</section>
<div class="container pt-5">
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📜 Web Texting</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Send and receive texts with your business number!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🤳 Softphone</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Call from your smartphone or computer! With a mobile or desktop app you can make and receive calls on your cell phone or computer with your business number.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">👀 Dial by Name Directory</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Don’t wear out your receptionist when you can use the dial by name directory! Enable callers to search by name and reach the right person.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🛕 Follow Me</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            With Follow Me, customers call your business which causes your desk phone and cell phone to ring simultaneously!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📮 Voicemail and Fax to Email</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Check your voicemail right from your email!
                        </p>
                        <p>
                            Incoming faxes appear in your email inbox, and sending faxes is a snap from the portal!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🗼 LTE Backup</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Similar to a backup generator for your internet; detects when your internet is going down and is able to support your internet and phones until your ISP (Internet Service Provider) can get out and resolve the underlying issue.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🏪 Business Hours</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            With business hours configured the phone will ring normally during the workday, while after hours it will go straight to voicemail or destination of your choice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🗿 Reliability</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones require no on-site server, no maintenance and no costly technician to service or adjust how the system works. See how easy having a phone system can be!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🧈 Ease of Operations</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones require only one or two cables to install and have a clear and easy to understand color screen. Dedicated keys for commonly used features like voicemail make them super easy to use!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">👓 Clarity</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Are humming analog phones getting you down? Do calls sound muddy or low quality? Our phones support HD Voice for crystal clear calls, and audio is carried digitally right to your phone preventing many common voice quality issues.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📼 Call Recording</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Need to record a call? Need proof someone made a certain commitment? With our call recording feature, you can record incoming or outgoing calls or both!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Phone Features</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">💡 Busy Lamp Field (BLF)</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            See if other users are currently on a call. Light shows green for available or red if that user is on a call.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🏞️ Call Park</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A universal hold feature. Place someone on park and anyone else can pick up and respond.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">👨‍💼 Wired Headsets</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Every deskphone supports wired headsets using the built in RJ9 port on the rear of the phone. Crisp, clear and dependable, wired headsets are an effective way to enable a hands free experience!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📣 Intercom</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            With the press of a button instantly start a conversation with a particular person! When using intercom, their phone will answer immediately on speakerphone.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📟 Paging</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Communicate quickly or find someone in a large space with paging. This feature is built into our phones, we can also install dedicated paging speaker system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📡 WiFi</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            No need to worry about staying connected with just Ethernet, stay mobile with our new WIFI phones!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">☄️ Bluetooth</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Most of our phones support Bluetooth, our newer phones support the latest and greatest Bluetooth 5.0 (connect your air pods or any Bluetooth device).
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">📰 History</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            See recent calls or sort by incoming, outgoing, missed and internal calls right from the onscreen menu of your phone.
                        </p>
                    </div>
                </div>
            </div>
            @*<div class="offset-xl-1 col-xl-6 col-md-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Speed Dial</h4>
                        </div>
                        <div class="card-body">
                            <p>
                                Does dialing the same 10 digits 10 times a day giving you carpal tunnel? Use speed dial! With a single press you can be connected to any phone number you feel like!
                            </p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Standard Features</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🤼 Conference Calling</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones support conference calling with up to 4 people at once. No more calling in to a conference service to make a 3 or 4 way call!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🏹 Transfer Calls</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Seamlessly transfer calls from extension to extension. Both blind transfer and attended transfer are supported. Blind transfer sends the caller straight through, attended transfer allows the user to check with another user before transferring the caller over.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🔊 Speakerphone</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            If you aren’t interested in using the handset or have more than one person in the room on the call our phones have a built in speakerphone! If you have conferencing needs we even offer conference phones like the Polycom SoundStation!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🎿 Speed Dial</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Does dialing the same 10 digits 10 times a day giving you carpal tunnel? Use speed dial! With a single press you can be connected to any phone number you feel like!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">🏠 Work from Home</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Work from anywhere with an internet connection! Plug the phone in at the office, home or on a trip to make and receive calls. The phone keeps it’s programmed extension and phone number, all you have to do is plug in to power and internet!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>