
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-4 text-center">
        <h1 class="display-4">Phone Features</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Busy Lamp Field (BLF)</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            See if other users are currently on a call. Light shows green for available or red if that user is on a call.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Call Park</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            A universal hold feature. Place someone on park and anyone else can pick up and respond.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Conference Calling</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones support conference calling with up to 4 people at once. No more calling in to a conference service to make a 3 or 4 way call!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Transfer Calls</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Seamlessly transfer calls from extension to extension. Both blind transfer and attended transfer are supported. Blind transfer sends the caller straight through, attended transfer allows the user to check with another user before transferring the caller over.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Speakerphone</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            If you aren’t interested in using the handset or have more than one person in the room on the call our phones have a built in speakerphone! If you have conferencing needs we even offer conference phones like the Polycom SoundStation!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Paging</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Communicate quickly or find someone in a large space with paging. This feature is built into our phones, we can also install dedicated paging speaker system.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Speed Dial</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Does dialing the same 10 digits 10 times a day giving you carpal tunnel? Use speed dial! With a single press you can be connected to any phone number you feel like!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="pricing-header mx-auto mb-4 text-center">
        <h1 class="display-4">Our Features</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Web Texting</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Send and receive texts with your business number!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Softphone</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Call from your smartphone or computer! With a mobile or desktop app you can make and receive calls on your cell phone or computer with your business number.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Dial by Name Directory</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Don’t wear out your receptionist when you can use the dial by name directory! Enable callers to search by name and reach the right person.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Follow Me</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            With Follow Me, customers call your business which causes your desk phone and cell phone to ring simultaneously!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Work from Home</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Work from anywhere with an internet connection! Plug the phone in at the office, home or on a trip to make and receive calls. The phone keeps it’s programmed extension and phone number, all you have to do is plug in to power and internet!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Call Recording</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Need to record a call? Need proof someone made a certain commitment? With our call recording feature, you can record incoming or outgoing calls or both!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Fax to Email</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Incoming faxes appear in your email inbox, and sending faxes is a snap from the portal!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Voicemail to Email</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Check your voicemail right from your email!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3 text-center">
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Business Hours</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            With business hours configured the phone will ring normally during the workday, while after hours it will go straight to voicemail or destination of your choice.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Reliability</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones require no on-site server, no maintenance and no costly technician to service or adjust how the system works. See how easy having a phone system can be!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-1 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Ease of Operations</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Our phones require only one or two cables to install and have a clear and easy to understand color screen. Dedicated keys for commonly used features like voicemail make them super easy to use!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-xl-5 col-xl-6 col-md-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Clarity</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Are humming analog phones getting you down? Do calls sound muddy or low quality? Our phones support HD Voice for crystal clear calls, and audio is carried digitally right to your phone preventing many common voice quality issues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>