@model IEnumerable<NumberSearch.DataAccess.Product>
@{
    ViewData["Title"] = "Hardware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-3 text-center">
        <h1 class="display-4">Available Hardware</h1>
    </div>
    <br />
    <div class="row">
        @{
            var products = Model.ToArray();
            foreach (var product in products)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@product.Image" />
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="display-4">@product.Name</h4>
                            </div>
                            <p class="card-text">@product.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn btn-outline-primary" asp-controller="Cart" asp-action="BuyProduct" asp-route-id="@product.ProductId" asp-route-Quantity="1">Add To Cart</a>
                                </div>
                                <large class="text-success">$@product.Price</large>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <br />
    </div>
</div>
<script>
    window.erxesSettings = {
        messenger: {
            brand_id: "MkxXi6",
        },
    };

    (function () {
        var script = document.createElement('script');
        script.src = "https://acceleratenetworks.app.erxes.io/widgets/build/messengerWidget.bundle.js";
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    })();

</script>