@{
    ViewData["Title"] = "VOIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<video autoplay muted loop playsinline width="100%" height="100%" class="" loading="lazy">
    <source src="~/videos/AccelerateNetworks2024.mp4" type="video/mp4" loading="lazy">
    <img class="first-slide img-fluid" src="./images/scaled/GRP2615-front.webp" alt="First slide" loading="lazy">
</video>
<!-- Value Proposition-->

<section class="container pb-3">
    <div class="row align-items-center mt-3">
        <div class="col-lg-4 col-md-5 order-md-2 text-center text-md-start mb-3 mb-md-0">
            <h2 class="mb-3">Your phone system, anywhere you are</h2>
            <p class="text-muted m-1 m-md-3">Manage calls, voicemails, texts, and faxes—all in one place.</p>
            <a class="btn btn-primary btn-lg p-md-4 p-3 m-md-3 m-1 shadow" href="/Services">Start Now</a>
            <p class="text-muted m-1 m-md-3">or talk to an expert at</p>
            <a href="tel:12068588757" class="btn btn-lg btn-outline-dark">(206) 858-8757</a>
        </div>
        <div class="col-lg-8 col-md-7 order-md-1">
            <div class="row">
                <div class="col-sm-6 pb-4">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/01.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Streamline communications</h3>
                        <p class="fs-sm">Save time and improve efficiency with a single point of contact for your calls, text, faxes, and internet service.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-4">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/02.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Enjoy unmatched support</h3>
                        <p class="fs-sm">With an average response time of 3 minutes get local, friendly, and responsive technical support when you need it most.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/03.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Save money</h3>
                        <p class="fs-sm">Simple pricing and honest service, so you can focus on what matters most.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/04.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Work from anywhere</h3>
                        <p class="fs-sm">Instantly switch between your office phone, desktop, and mobile device to make and receive business calls.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="p-3 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6" id="checkmark-list">
                <h1 class="display-4">Find the perfect phone number </h1>
                <ul style="list-style: none; padding: 0px;">
                    <li>✔️ Create trust and credibility with a local area code</li>
                    <li>✔️ Build a national presence with a toll-free number</li>
                    <li>✔️ Enhance your marketing with a memorable vanity number</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <form class="form-row justify-content-center" action="/Search">
                        <div class="form-group">
                            <div class="input-group mx-auto input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+1</span>
                                </div>
                                <input type="text" name="Query" value="206" title="Phone Number Search" class="form-control">
                            </div>
                            <div class="input-group mx-auto input-group-lg pt-2">
                                <button type="submit" class="btn btn-lg btn-success btn-block" onclick="displayBusyIndicator(this)">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="text-light p-md-5 p-3" style="background-color: #3279B2">
    <div class="container">
        <h2 class="mb-2 text-light">🤝&nbsp;Community First</h2>
        <p class="text-light">You hate sales, and we get it. We're not here to sell you. We exist to solve your communication problems.</p>
        <p class="text-light">Bills from Comcast and Zoom are often difficult to read and hard to understand. 🤬</p>
        <h2 class="mb-2 text-light">⛰️&nbsp;Pacific Northwest Values</h2>
        <p class="text-light">We are different. No hidden fees or introductory rates. Our team is skilled in gathering accurate information to build a quote and help you to make an informed, apples to apples comparison of phone and internet services.</p>
        <p class="text-light">Our community-first approch means that we are an advocate for your business, ensuring you have reliable service and a top-tier communications system.</p>
        <h2 class="mb-2 text-light">🚀&nbsp;Join our network today!</h2>
        <p class="text-light">As your business changes and grows, you can trust that we'll be here to help. 🥰</p>
    </div>
</section>
<div>
    <div class="container p-3">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 pb-3 text-center d-none d-sm-block">Phones that you can Trust</h1>
                <h1 class="text-center pb-3 d-block d-sm-none">Communication that you can rely on!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/hardware">
                                <img src="./images/carousel/GRP2670-10x5.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GRP2670</h5>
                                    <p>The GRP2670 features 48 virtual multi-purpose keys (VPKs), integrated Wi-Fi, Bluetooth support, a 7-inch touchscreen and more, and is supported by Grandstream’s Device Management System (GDMS).</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/Yealink-T54W-10x5.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>T54W</h5>
                                    <p>With modern Bluetooth & WiFi built in, a 4.3 inch tilting screen, Power over Ethernet support the Yealink T54W is a versatile, capable and ready to serve you!</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/WP816_4-10x5.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>WP816</h5>
                                    <p>The WP816 includes advanced antenna design and roaming support. By adding 6-hour talk time and HD voice with dual-MICs, the WP816 offers an affordable option and comes equipped with a combination of features, mobility, and durability to suit all portable telephony needs.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/Yealink-T57W-10x5.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>T57W</h5>
                                    <p>Premium-level phone for executives and busy managers with heavy call load.</p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="p-md-5 p-3 bg-light">
    <div class="container">
        <h2 class="mb-2">💪&nbsp;We proudly participate in our Community</h2>
        <p class="lead mb-4 pb-2">Accelerate Networks is an active member of the Queen Anne Chamber of Commerce, Edmonds Chamber, and the Seattle Chamber.</p>
        <div class="row text-center text-sm-start pt-4">
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                    <img src="./images/scaled/gsba-logo.webp" class="img-fluid"
                         alt="Greater Seattle Business Alliance" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.queenannechamber.org/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/qacc-logo.webp" class="img-fluid"
                         alt="Queen Anne Chamber of Commerce" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://edmondschamber.com/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/edmondscoc.webp" class="img-fluid"
                         alt="Edmonds Chamber of Commerce" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/seattlesouthsidecoc.webp" class="img-fluid"
                         alt="Seattle Southside Chamber of Commerce" style="width: 80%;" loading="lazy">
                </a>
            </div>
            <div class="col-sm-4 text-left mb-3">
                <a href="https://www.thegsba.org/chba" target="_blank"
                   rel="noopener noreferrer">
                    <img src="./images/scaled/chba.webp" class="img-fluid"
                         alt="Capitol Hill Business Alliance" style="width: 80%;" loading="lazy">
                </a>
            </div>
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.seattlechamber.com/" target="_blank"
            rel="noopener noreferrer">
            <img src="./images/scaled/scoc-logo.webp" class="img-fluid"
            alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;" loading="lazy">
            </a>
            </div> *@
            <div class="col-sm-4 text-left mb-3">
                <a href="https://mukilteochamber.org/" target="_blank"
                   rel="noopener noreferrer">
                    <img src="~/images/scaled/MukilteoChamber-320.webp" class="img-fluid"
                         alt="Mukilteo Chamber of Commerce" loading="lazy">
                </a>
            </div>
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.rotaryclubofballard.org/" target="_blank"
            rel="noopener noreferrer">
            <img src="~/images/original/EnviroStars2020-e1608007992822.webp" class="img-fluid" height="100px"
            alt="Ballard Rotary" loading="lazy" style="max-height: 200px;">
            </a>
            </div> *@
            @*             <div class="col-sm-4 text-left mb-3">
            <a href="https://www.rotaryclubofballard.org/" target="_blank"
            rel="noopener noreferrer">
            <img src="~/images/scaled/Ballard-Rotary.webp" class="img-fluid"
            alt="Ballard Rotary" loading="lazy">
            </a>
            </div> *@
        </div>
    </div>
</section>
<!-- Features-->

<section class="text-light p-md-5 p-3" style="background-color: #3279B2">
    <div class="container">
        <h2 class="mb-2 text-light">☎️&nbsp;Easily manage your business communications</h2>
        <p class="lead text-light mb-4 pb-2">All the features you need to manage your business wherever you are—at work, from home, or on the road.</p>
        <div class="row text-center text-sm-start pt-4">
            <div class="col-sm-4 text-left">
                <h4>🔔&nbsp;Ring any device</h4>
                <p>Receive calls on your desk phone and mobile phone so you can answer anywhere.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>📝&nbsp;Check voicemails at a glance</h4>
                <p>Respond to missed calls with automatic voicemail transcriptions sent straight to your email.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>📱&nbsp;Respond with texts</h4>
                <p>Keep the conversation going over text messages—without giving out your personal number.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>📅&nbsp;Take calls on your schedule</h4>
                <p>Configure business hours to direct calls to voicemail or a destination of your choice when the day is over.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>👋&nbsp;Create custom greetings</h4>
                <p>Easily setup greetings, marketing messages, or hold music to create a custom experience.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>📠&nbsp;Get faxes by email</h4>
                <p>Centralize your communications by sending faxes directly to your email inbox.</p>
            </div>
        </div>
    </div>
</section>
<div class="container p-3">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 pb-3 text-center d-none d-sm-block">What People Say About Accelerate Networks</h1>
            <h1 class="text-center pb-3 d-block d-sm-none">What People Say About Accelerate Networks</h1>
            <div class="card-deck">
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">Accelerate Networks has not only cut our office phone bill in half but has provided stellar service from the start. Great staff and very responsive to any and all questions or requests. We didn't have to lift a finger or experience any downtime when we switched to Accelerate Networks a year ago.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Edmonds Chamber of Commerce</h5>
                    </div>
                </div>
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">As a small business owner I swear by the level of service, the consistency and dedication Accelerate provides.  As a small business owner who has struggled to hold on this year I can attest that no vendor has ever done more for me.  Seriously.  This team goes above and beyond.  Highly recommend.  Elbert at Expedia Cruises in Bellevue.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Elbert Stockberger</h5>
                    </div>
                </div>
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">Accelerate Networks has excellent products, but more importantly, they have the BEST customer service. They really care about their clients and show this with prompt attention to all questions and then quickly working to resolve any issues. They are an extremely customer focused company and I highly recommend doing business with them.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Angela Figgins</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center p-3 pt-md-5">
            <a class="btn btn-lg btn-outline-primary" href="https://www.google.com/search?q=acceleratenetworks&rlz=1C1GCEA_enUS756US756#lrd=0x54906b5838cb4e8f:0x4e25a1cc42cb0734,1,,," target="_blank">Read Reviews on Google</a>
        </div>
    </div>
</div>
<section class="p-3 p-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col text-center align-items-center">
                <h2 class="mb-3">Connecting you with faster Fiber, Wireless and Wired Internet!</h2>
                <p class="text-muted">Help your business move faster & communicate better with quicker internet, better phones and seamless texting.</p>
                <a class="btn btn-primary btn-lg p-4 m-3 shadow" href="/Services">Start Now</a>
                <p class="text-muted">or talk to an expert at</p>
                <a href="tel:12068588757" class="btn btn-lg btn-outline-dark">(206) 858-8757</a>
            </div>
        </div>
    </div>
</section>