
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%" class="pt-3">
    <source src="~/videos/intro.mp4" type="video/mp4">
    <img class="first-slide img-fluid" src="./images/scaled/GRP2615-front.jpg" alt="First slide">
</video>
<div class="container">
    <div class="row">
        <div class="col-lg-12 pb-4 pt-3 text-center">
            <h1 class="d-none d-sm-block">Your phone system, anywhere you are!</h1>
            <h4 class="display-4 d-none d-sm-block">Local Support - Reliable Service - Real Savings</h4>
            <p>Improve your communications by talking to us today!</p>
            <p>
                <a class="btn btn-success btn-lg" href="/Services">Start Now</a>
                <h5>(206) 858 8757</h5>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="display-4 text-center pb-3"></h1>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">We proudly participate in</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-0 d-flex wrap justify-content-around row row-cols-3">
                            <li>
                                <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                                    <img src="./images/scaled/gsba-logo.png" class="img-fluid"
                                         alt="Greater Seattle Business Alliance">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.queenannechamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="./images/scaled/qacc-logo.png" class="img-fluid"
                                         alt="Queen Anne Chamber of Commerce">
                                </a>
                            </li>
                            <li class="pr-3">
                                <a href="https://edmondschamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="./images/scaled/edmondscoc.gif" class="img-fluid"
                                         alt="Edmonds Chamber of Commerce">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="./images/scaled/seattlesouthsidecoc.jpg" class="img-fluid"
                                         alt="Seattle Southside Chamber of Commerce" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.thegsba.org/chba" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="./images/scaled/chba.png" class="img-fluid"
                                         alt="Capitol Hill Business Alliance" style="width: 80%;">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.seattlechamber.com/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="./images/scaled/scoc-logo.jpg" class="img-fluid"
                                         alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;">
                                </a>
                            </li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li><p></p></li>
                            <li>
                                <a href="https://mukilteochamber.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/MukilteoChamber-320.png" class="img-fluid"
                                         alt="Mukilteo Chamber of Commerce">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.rotaryclubofballard.org/" target="_blank"
                                   rel="noopener noreferrer">
                                    <img src="~/images/scaled/Ballard-Rotary.png" class="img-fluid"
                                         alt="Ballard Rotary">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>