@{
    ViewData["Title"] = "VOIP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<video autoplay muted loop playsinline width="100%" class="" loading="lazy">
    <source src="~/videos/acceleratenetworks2023.mp4" type="video/mp4" loading="lazy">
    <img class="first-slide img-fluid" src="./images/scaled/GRP2615-front.webp" alt="First slide" loading="lazy">
</video>
<!-- Value Proposition-->

<section class="container pb-3">
    <div class="row align-items-center mt-3">
        <div class="col-lg-4 col-md-5 order-md-2 text-center text-md-start mb-3 mb-md-0">
            <h2 class="mb-3">Your phone system, anywhere you are</h2>
            <p class="text-muted m-1 m-md-3">Manage calls, voicemails, business texts, and faxes—all in one place.</p>
            <a class="btn btn-primary btn-lg p-md-4 p-3 m-md-3 m-1 shadow" href="/Services">Start Now</a>
            <p class="text-muted m-1 m-md-3">or talk to an expert at</p>
            <a href="tel:12063333341" class="btn btn-lg btn-outline-dark">(206) 333-3341</a>
        </div>
        <div class="col-lg-8 col-md-7 order-md-1">
            <div class="row">
                <div class="col-sm-6 pb-4">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/01.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Streamline communications</h3>
                        <p class="fs-sm">Save time and improve efficiency with a unified inbox for your calls, texts, and faxes.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-4">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/02.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Enjoy unmatched support</h3>
                        <p class="fs-sm">Stop waiting on hold and access local, friendly, and responsive service when you need it most.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/03.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Save money</h3>
                        <p class="fs-sm">Keep costs low so you can spend money on what matters for your company.</p>
                    </div>
                </div>
                <div class="col-sm-6 pb-3">
                    <div class="h-100 bg-light shadow rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                        <img class="d-inline-block mb-4 mt-2" src="/images/svg/04.svg" alt="Icon" width="100" loading="lazy">
                        <h3 class="h5 mb-2">Work from anywhere</h3>
                        <p class="fs-sm">Easily switch between your office phone, desktop, and mobile device to make and receive calls.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="p-3 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6" id="checkmark-list">
                <h1 class="display-4">Find the perfect phone number </h1>
                <ul style="list-style: none; padding: 0px;">
                    <li>✔️ Create trust and credibility with a local area code</li>
                    <li>✔️ Build a national presence with a toll-free number</li>
                    <li>✔️ Enhance your marketing with a memorable vanity number</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <form class="form-row justify-content-center" action="/Search">
                        <div class="form-group">
                            <div class="input-group mx-auto input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+1</span>
                                </div>
                                <input type="text" name="Query" value="206" title="Phone Number Search" class="form-control">
                            </div>
                            <div class="input-group mx-auto input-group-lg pt-2">
                                <button type="submit" class="btn btn-lg btn-success btn-block" onclick="displayBusyIndicator(this)">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-3" style="background-color: #3279B2">
    <div class="container p-0">
        <div class="row">
            <div class="offset-2 d-none d-sm-block"></div>
            <div class="col">
                <div class="card mb-3 shadow rounded-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">🤗&nbsp;Customer Obsession</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Communications bills from our competitors are often hard to understand. Hidden fees like regulatory cost recovery fees or voice network investment fees are rarely disclosed prior to signing a contract despite adding 15% to 25% in cost!
                        </p>
                        <p>
                            Unlike our competitors we do not hide fees or raise prices two months down the road, and our team is skilled in gathering accurate information to help you to make an informed, apples to apples comparison of phone and internet services.
                        </p>
                        <p>
                            When a business decides to upgrade to a system powered by Accelerate Networks we bring a skilled and knowledgeable team to the table that is adept at providing effective solutions. We act as an advocate for our clients, ensuring they have a reliable network and communications system.
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-2 d-none d-sm-block"></div>
        </div>
        <div class="row">
            <div class="offset-2 d-none d-sm-block"></div>
            <div class="col">
                <div class="card shadow rounded-3">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">✔️&nbsp;Proven Success</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Over the years we have come to serve grocers, law practices, mechanics, doctors and plumbers across the nation, while also contributing to the Free Software community by writing patches and documentation for the projects we use to serve our clients.
                        </p>
                        <p>
                            If you need great phone service for your business, call (206) 333-3341!
                        </p>
                    </div>
                </div>
            </div>
            <div class="offset-2 d-none d-sm-block"></div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/hardware">
                                <img src="./images/carousel/grp2612_front_web1611.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GRP2612 with WiFi</h5>
                                    <p>Need a phone where only WiFi exists? The GRP2612W has you covered with powerful WiFi 5 (aka 802.11AC) support built in. Plug into power and dial away!</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/T54W-front1611.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>T54W</h5>
                                    <p>With modern Bluetooth & WiFi built in, a 4.3 inch tilting screen, Power over Ethernet support the Yealink T54W is a versatile, capable and ready to serve you!</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/GRP2615-front1611.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GRP2615</h5>
                                    <p>The GRP2615 is a high-end carrier-grade IP phone featuring a sleek design and a suite of next-generation features including integrated Wi-Fi, Bluetooth support, 40 multipurpose keys (MPKs), an available extension module, dual Gigabit ports and more.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/gxp2135_front_web1611.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GXP2135</h5>
                                    <p>Equipped with 8 lines and 4 SIP accounts, a 2.8 inch color LCD display, and 32 digital speed dial/BLF keys, the GXP2135 enables quick and powerful usability.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/gxp2140_front1611.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GXP2140</h5>
                                    <p>This device provides the perfect balance for the call-intensive user’s desktop, with its 4 lines, 5 programmable soft keys and feature-loaded call controls. Its 4.3” color LCD display creates a high-quality user experience, and its dual Gigabit PoE ports, HD audio, and integrated Bluetooth makes the GXP2140 highly versatile as well.</p>
                                </div>
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/hardware">
                                <img src="./images/carousel/gxp2170_front_web1611v2.webp" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block text-dark">
                                    <h5>GXP2170</h5>
                                    <p>Receptionists, administrators, sales staff and other call-intensive rolls  can enjoy efficiency by utilizing the GXP2170’s 12 line keys, 4.3 inch color display LCD and 48 digital, on-screen speed dial/BLF keys.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 pb-3 text-center d-none d-sm-block">What People Say About Accelerate Networks</h1>
            <h1 class="text-center pb-3 d-block d-sm-none">What People Say About Accelerate Networks</h1>
            <div class="card-deck">
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">Accelerate Networks has not only cut our office phone bill in half but has provided stellar service from the start. Great staff and very responsive to any and all questions or requests. We didn't have to lift a finger or experience any downtime when we switched to Accelerate Networks a year ago.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Edmonds Chamber of Commerce</h5>
                    </div>
                </div>
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">As a small business owner I swear by the level of service, the consistency and dedication Accelerate provides.  As a small business owner who has struggled to hold on this year I can attest that no vendor has ever done more for me.  Seriously.  This team goes above and beyond.  Highly recommend.  Elbert at Expedia Cruises in Bellevue.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Elbert Stockberger</h5>
                    </div>
                </div>
                <div class="card shadow rounded-3">
                    <div class="card-body">
                        <p class="card-text">Accelerate Networks has excellent products, but more importantly, they have the BEST customer service. They really care about their clients and show this with prompt attention to all questions and then quickly working to resolve any issues. They are an extremely customer focused company and I highly recommend doing business with them.</p>
                        <p>⭐⭐⭐⭐⭐</p>
                        <hr />
                        <h5 class="card-title">Angela Figgins</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center p-3 pt-md-5">
            <a class="btn btn-lg btn-outline-primary" href="https://www.google.com/search?q=acceleratenetworks&rlz=1C1GCEA_enUS756US756#lrd=0x54906b5838cb4e8f:0x4e25a1cc42cb0734,1,,," target="_blank">Read Reviews on Google</a>
        </div>
    </div>
</div>
<!-- Features-->

<section class="text-light p-md-5 p-3" style="background-color: #3279B2">
    <div class="container">
        <h2 class="mb-2 text-light">Easily manage your business communications</h2>
        <p class="lead text-light mb-4 pb-2">All the features you need to manage your business wherever you are—at work, from home, or on the road.</p>
        <div class="row text-center text-sm-start pt-4">
            <div class="col-sm-4 text-left">
                <h4>Ring any device</h4>
                <p>Receive calls on your desk phone and mobile phone so you can answer anywhere.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>Check voicemails at a glance</h4>
                <p>Respond to missed calls with automatic voicemail transcriptions sent straight to your email.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>Respond quickly with business texts</h4>
                <p>Keep the conversation going over text messages—without giving out your personal number.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>Take calls on your schedule</h4>
                <p>Configure business hours to direct calls to voicemail or a destination of your choice when the day is over.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>Create custom greetings</h4>
                <p>Easily setup greetings, marketing messages, or hold music to create a custom experience.</p>
            </div>
            <div class="col-sm-4 text-left">
                <h4>Get faxes in your email inbox</h4>
                <p>Centralize your communications by sending faxes directly to your email inbox.</p>
            </div>
        </div>
    </div>
</section>
<div class="p-3 p-md-5">
    <div class="container">
        <div class="row">
            <div class="col text-center align-items-center">
                <h2 class="mb-3">Connecting you with faster Fiber, Wireless and Wired Internet!</h2>
                <p class="text-muted">Help your business move faster & communicate better with quicker internet, better phones and seamless texting.</p>
                <a class="btn btn-primary btn-lg p-4 m-3 shadow" href="/Services">Start Now</a>
                <p class="text-muted">or talk to an expert at</p>
                <a href="tel:12063333341" class="btn btn-lg btn-outline-dark">(206) 333-3341</a>
            </div>
        </div>
    </div>
</div>
<div class="pt-3 pr-md-3 pl-md-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">We proudly participate in</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 p-3 mb-0 d-flex wrap justify-content-around row row-cols-3">
                                <li>
                                    <a href="https://www.thegsba.org/" target="_blank" rel="noopener noreferrer">
                                        <img src="./images/scaled/gsba-logo.webp" class="img-fluid"
                                             alt="Greater Seattle Business Alliance" loading="lazy">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.queenannechamber.org/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="./images/scaled/qacc-logo.webp" class="img-fluid"
                                             alt="Queen Anne Chamber of Commerce" loading="lazy">
                                    </a>
                                </li>
                                <li class="pr-3">
                                    <a href="https://edmondschamber.com/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="./images/scaled/edmondscoc.webp" class="img-fluid"
                                             alt="Edmonds Chamber of Commerce" loading="lazy">
                                    </a>
                                </li>
                                <li><p></p></li>
                                <li><p></p></li>
                                <li><p></p></li>
                                <li>
                                    <a href="https://www.seattlesouthsidechamber.com/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="./images/scaled/seattlesouthsidecoc.webp" class="img-fluid"
                                             alt="Seattle Southside Chamber of Commerce" style="width: 80%;" loading="lazy">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.thegsba.org/chba" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="./images/scaled/chba.webp" class="img-fluid"
                                             alt="Capitol Hill Business Alliance" style="width: 80%;" loading="lazy">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.seattlechamber.com/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="./images/scaled/scoc-logo.webp" class="img-fluid"
                                             alt="Seattle Chamber of Commerce" style="height: 80%; width: 50%;" loading="lazy">
                                    </a>
                                </li>
                                <li><p></p></li>
                                <li><p></p></li>
                                <li><p></p></li>
                                <li>
                                    <a href="https://mukilteochamber.org/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="~/images/scaled/MukilteoChamber-320.webp" class="img-fluid"
                                             alt="Mukilteo Chamber of Commerce" loading="lazy">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.rotaryclubofballard.org/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="~/images/original/EnviroStars2020-e1608007992822.webp" class="img-fluid"
                                             alt="Ballard Rotary" loading="lazy">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.rotaryclubofballard.org/" target="_blank"
                                       rel="noopener noreferrer">
                                        <img src="~/images/scaled/Ballard-Rotary.webp" class="img-fluid"
                                             alt="Ballard Rotary" loading="lazy">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

