@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">Privacy Notice</h1>
                <h4 class="display-4 text-light d-block d-sm-none">Privacy Notice</h4>
                <p class="lead text-white">We'll keep your data safe.</p>
            </div>
        </div>
    </div>
</section>
<div class="container pt-3">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1 mb-5">
            <p><h5>Effective Date: February 11th, 2023</h5></p>

            <p>This privacy policy discloses the privacy practices for the application AccelerateNetworks Mobile, and website addresses: *.acceleratenetworks.com and *.callpipe.com. It will notify you of the following:</p>
            <p>
                <ul>
                    <li>What information we collect;</li>
                    <li>With whom it is shared;</li>
                    <li>How it can be corrected;</li>
                    <li>How it is secured;</li>
                    <li>How policy changes will be communicated; and</li>
                    <li>How to address concerns over misuse of personal data.</li>
                </ul>
            </p>

            <p><h5>Information Collection, Use, and Sharing</h5></p>
            <p>Accelerate Networks (811 1st Ave, Suite 350, Seattle, WA, 98104) is the sole owner of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g., to ship an order.</p>

            <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

            <h5>Your Access to and Control Over Information</h5>
            <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number provided on our website:</p>

            <ul>
                <li>See what data we have about you, if any.</li>
                <li>Change/correct any data we have about you.</li>
                <li>Have us delete any data we have about you.</li>
                <li>Express any concern you have about our use of your data.</li>
            </ul>

            <h5>Security</h5>

            <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

            <p>Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (e.g, billing or customer service) are granted access to personally identifiable information. The computers/servers on which we store personally identifiable information are kept in a secure environment.</p>

            <h5>Notification of Changes</h5>

            <p>Whenever material changes are made to the privacy notice we will update this page.</p>

            <h5>Other Provisions as Required by Law</h5>

            <p>Numerous other provisions and/or practices may be required as a result of laws, international treaties, or industry practices. It is up to you to determine what additional practices must be followed and/or what additional disclosures are required. Please take special notice of the California Online Privacy Protection Act (CalOPPA), which is frequently amended and now includes a disclosure requirement for “Do Not Track” signals.</p>

            <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 206-858-8757 or via email support@acceleratenetworks.com.</p>

            <h5>Registration</h5>
            <p>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address). This information is used to contact you about the products/services on our site in which you have expressed interest. At your option, you may also provide demographic information (such as gender or age) about yourself, but it is not required.</p>

            <h5>Orders</h5>
            <p>We request information from you on our order form. To buy from us, you must provide contact information (like name and shipping address) and financial information (like credit card number, expiration date). This information is used for billing purposes and to fill your orders. If we have trouble processing an order, we'll use this information to contact you.</p>

            <h5>Cookies</h5>
            <p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance their experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>

            <p>Some of our business partners may use cookies on our site (e.g., advertisers). However, we have no access to or control over these cookies.</p>

            <h5>Sharing</h5>
            <p>We share aggregated demographic information with our partners and advertisers. This is not linked to any personal information that can identify any individual person.</p>

            <p>We use an outside shipping company to ship orders, and a credit card processing company to bill users for goods and services. These companies do not retain, share, store or use personally identifiable information for any secondary purposes beyond filling your order.</p>

            <p>We partner with another party to provide specific services. When the user signs up for these services, we will share names, or other contact information that is necessary for the third party to provide these services. These parties are not allowed to use personally identifiable information except for the purpose of providing these services.</p>
    
            <p>Accelerate Networks reserves the right to activate the User-submitted debug logs in the AccelerateNetworks Mobile Application and in the software used to provide the Service. Such debug logs contain full protocol information for the calls, chat messages, contact lists, and other protocol events generated by the User. Debug logs are manually submitted by the user, and used to diagnose and troubleshoot issues when reported. For Android&#8482; users, this is done with a downloadable link. For iOS devices, they are sent as an email attachment to feedback@acceleratenetworks.com. This information is solely used for the purpose of troubleshooting our services. It may be shared with Belledonne Communications.</p>
        
            <h5>Links</h5>
            <p>This web site contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
        </div>
    </div>
</div>
