
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.erxesSettings = {
        knowledgeBase: {
            topic_id: "FCG2jN9HoMCnXLAKx"
        },
    };

    (function () {
        var script = document.createElement('script');
        script.src = "https://acceleratenetworks.app.erxes.io/widgets/build/knowledgebaseWidget.bundle.js";
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    })();
</script>
<div class="container">
    <br />
    <div class="pricing-header mx-auto pb-3 text-center">
        <h1 class="display-4">Support Articles</h1>
    </div>
    <br />
    <div class="alert alert-secondary" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858 8757</a> for immedate help. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
    <p>Support for Grandstream deskphones by model:</p>
    <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Basic example">
        <a class="btn btn-primary" asp-controller="Phones" asp-action="GRP2615">GRP2615</a>
        <a class="btn btn-primary" asp-controller="Phones" asp-action="GXP2135">GXP2135</a>
        <a class="btn btn-primary" asp-controller="Phones" asp-action="GXP2170">GXP2170</a>
    </div>
    <div data-erxes-kbase style="height:67vh;" class="col-12 pb-5"></div>
</div>