@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">24/7 Support</h1>
                <h4 class="display-4 text-light d-block d-sm-none">24/7 Support</h4>
                <p class="lead text-white">We can help you.</p>
            </div>
        </div>
    </div>
</section>
<div class="pt-3 pb-3">
    <div class="container">
        <div class="alert alert-secondary" role="alert">
            Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immedate help. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
        </div>
        <div class="card-deck">
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/GRP2615-front-400.jpg" alt="GRP2615">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream GRP2615</h5>
                    <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GRP2615">GRP2615</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/gxp2135_front-400.png" alt="GXP2135">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream GXP2135</h5>
                    <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GXP2135">GXP2135</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/gxp2170-400.png" alt="GXP2170">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream GXP2170</h5>
                    <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GXP2170">GXP2170</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/yealinkt54w-400.png" alt="T54W">
                <div class="card-body">
                    <h5 class="card-title">Support for your Yealink T54W</h5>
                    <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="T54W">T54W</a>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/DP750_720_combination_3-400.png" alt="DP720">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream DP720</h5>
                    <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP720">DP720</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/DP722-1-400.png" alt="DP722">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream DP722</h5>
                    <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP722">DP722</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/DP730-1-400.png" alt="DP730">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream DP730</h5>
                    <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP730">DP730</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/GRP2612front-400.jpg" alt="GRP2612">
                <div class="card-body">
                    <h5 class="card-title">Support for your Grandstream GRP2612</h5>
                    <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GRP2612">GRP2612</a>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/linphonedesktop-400.webp" alt="Linphone Desktop">
                <div class="card-body">
                    <h5 class="card-title">Support for Linphone Desktop</h5>
                    <p class="card-text">Learn about all the cool features and functions of our desktop app!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="Linphone">Linphone</a>
                </div>
            </div>
            <div class="card shadow">
                <img class="card-img-top" src="/images/original/anmobile752023.png" alt="AN Mobile">
                <div class="card-body">
                    <h5 class="card-title">Support for AN Mobile</h5>
                    <p class="card-text">Learn about all the cool features and functions of our phone app!</p>
                    <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="ANMobile">Accelerate Networks Mobile</a>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>