
@{
    ViewData["Title"] = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.erxesSettings = {
        knowledgeBase: {
            topic_id: "FCG2jN9HoMCnXLAKx"
        },
    };

    (function () {
        var script = document.createElement('script');
        script.src = "https://acceleratenetworks.app.erxes.io/widgets/build/knowledgebaseWidget.bundle.js";
        script.async = true;
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
    })();
</script>
<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Support Articles</h1>
    </div>
    <br />
    <div class="alert alert-secondary" role="alert">
        Please call <a href="tel:206-858-8757" class="h5">(206) 858-8757</a> for immedate help. You can also email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a>.
    </div>
    <div class="card-deck">
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/GRP2615-front-400.jpg" alt="GRP2615">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream GRP2615</h5>
                <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GRP2615">GRP2615</a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/gxp2135_front-400.png" alt="GXP2135">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream GXP2135</h5>
                <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GXP2135">GXP2135</a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/gxp2170-400.png" alt="GXP2170">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream GXP2170</h5>
                <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="GXP2170">GXP2170</a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/yealinkt54w-400.png" alt="T54W">
            <div class="card-body">
                <h5 class="card-title">Support for your Yealink T54W</h5>
                <p class="card-text">Learn about all the cool features and functions of your deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="T54W">T54W</a>
            </div>
        </div>
    </div>
    <div class="card-deck mt-4">
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/DP750_720_combination_3-400.png" alt="DP720">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream DP720</h5>
                <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP720">DP720</a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/DP722-1-400.png" alt="DP722">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream DP722</h5>
                <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP722">DP722</a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-img-top" src="/images/scaled/DP730-1-400.png" alt="DP730">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream DP730</h5>
                <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP730">DP730</a>
            </div>
        </div>
        <div class="card shadow invisible">
            <img class="card-img-top" src="/images/scaled/DP730-1-400.png" alt="DP730">
            <div class="card-body">
                <h5 class="card-title">Support for your Grandstream DP730</h5>
                <p class="card-text">Learn about all the cool features and functions of your cord-less deskphone!</p>
                <a class="btn btn-primary stretched-link" asp-controller="Phones" asp-action="DP730">DP730</a>
            </div>
        </div>
    </div>

    <br />
    <div data-erxes-kbase style="height:100vh;" class="col-12 pb-5"></div>
</div>