################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NumberSearch
/NumberSearch.Mvc/.vs/NumberSearch
/NumberSearch.Mvc/obj
/NumberSearch.Tests/obj
*.user
/.vs
/NumberSearch.DataAccess/obj
/NumberSearch.Ingest/bin/
/NumberSearch.Ingest/obj
/NumberSearch.DataAccess/bin/
/NumberSearch.Mvc/bin
/NumberSearch.Mvc/.config
/NumberSearch.Mvc/Properties/PublishProfiles
/NumberSearch.Tests/bin/
/BulkVS/bin
/BulkVS/obj
/FirstCom/obj
/FirstCom/bin
/NumberSearch.Ops/bin/
/NumberSearch.Ops/obj
/Messaging/bin/
/Messaging/obj
*.txt
*.dll
*.pdb
/Messaging.Tests/bin/Debug/net7.0
/Messaging.Tests/obj
*.csv
/Messaging.Tests/bin/Debug/net8.0
