################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NumberSearch
/NumberSearch.Mvc/.vs/NumberSearch
/NumberSearch.Mvc/bin/Debug/netcoreapp3.0
/NumberSearch.Mvc/obj
/NumberSearch.Tests/bin/Debug/netcoreapp3.0
/NumberSearch.Tests/obj
*.user
/.vs
