################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NumberSearch
/NumberSearch.Mvc/.vs/NumberSearch
/NumberSearch.Mvc/bin/Debug/netcoreapp3.0
/NumberSearch.Mvc/obj
/NumberSearch.Tests/bin/Debug/netcoreapp3.0
/NumberSearch.Tests/obj
*.user
/.vs
/NumberSearch.DataAccess/bin/Debug/netstandard2.0
/NumberSearch.DataAccess/obj
/NumberSearch.Ingest/bin/Debug/netcoreapp3.1
/NumberSearch.Ingest/obj
/NumberSearch.Mvc/bin/Debug/netcoreapp3.1
/NumberSearch.Tests/bin/Debug/netcoreapp3.1
/NumberSearch.DataAccess/bin/Release/netstandard2.0
/NumberSearch.Mvc/.config
/NumberSearch.Mvc/bin/Release/netcoreapp3.1
/NumberSearch.Mvc/Properties/PublishProfiles
/NumberSearch.Tests/bin/Release/netcoreapp3.1
/NumberSearch.Ingest/bin/Release/netcoreapp3.1
/BulkVS/obj/Debug/netcoreapp3.1
/BulkVS/bin/Debug/netcoreapp3.1
/BulkVS/bin
/BulkVS/obj
/FirstCom/obj/Debug/netcoreapp3.1
/FirstCom/bin/Debug/netcoreapp3.1
/FirstCom/obj
/FirstCom/bin
/NumberSearch.Ops/bin/Debug/netcoreapp3.1
/NumberSearch.Ops/obj
*.txt
