[Unit]
Description=NumberSearch

[Service]
Type=simple
WorkingDirectory=/var/www/numberSearch/NumberSearch.Mvc
ExecStart=/usr/bin/dotnet /var/www/numberSearch/NumberSearch.Mvc/bin/Release/netcoreapp3.1/NumberSearch.Mvc.dll

[Install]
WantedBy=multi-user.target
