@{
    ViewData["Title"] = "GRP2615";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">How to use the GRP2615</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Table of Contents</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <a href="#initialsetup">
                                    Intitial Setup on Grandstream GRP2615
                                </a>
                            </li>
                            <li>
                                <a href="#connecttowifi">
                                    Connect your Grandstream GRP2615 to wifi
                                </a>
                            </li>
                            <li>
                                <a href="#bluetooth">
                                    Connect Bluetooth device to Grandstream GRP2615
                                </a>
                            </li>
                            <li>
                                <a href="#changeringtone">
                                    Change the ringtone on your Grandstream GRP2615
                                </a>
                            </li>
                            <li>
                                <a href="#voicemailgreeting">
                                    Create a Voicemail Greeting
                                </a>
                            </li>
                            <li>
                                <a href="#usespeeddial">
                                    Use Speed Dial
                                </a>
                            </li>
                            <li>
                                <a href="#callhold">
                                    Put a Call on Hold
                                </a>
                            </li>
                            <li>
                                <a href="#conferencecall">
                                    Start a Conference Call
                                </a>
                            </li>
                            <li>
                                <a href="#blindtransfer">
                                    Perform a Blind Call Transfer
                                </a>
                            </li>
                            <li>
                                <a href="#singletransfer">
                                    Transfer a Call with a single press
                                </a>
                            </li>
                            <li>
                                <a href="#attendedtransfer">
                                    Perform an Attended Transfer
                                </a>
                            </li>
                            <li>
                                <a href="#voicemail">
                                    Check your Voicemail
                                </a>
                            </li>
                            <li>
                                <a href="#callpark">
                                    Use Call Park
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="initialsetup">Initial Setup on a Grandstream GRP2615</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xnJIze0GwZI?playlist=xnJIze0GwZI&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set up a Grandstream GRP2615.
                            <ul>
                                <li>Unbox the phone and other components</li>
                                <li>Insert the stand in the back and slide to lock</li>
                                <li>Connect to internet with network cable (if available). Route cable through stand to keep things tidy.</li>
                                <li>Connect power supply to round port</li>
                                <li>While phone is booting up connect shorter end of handset cable to handset and longer end to back of phone</li>
                                <li>Wait until phone shows green logo in upper right</li>
                                <li>Make a call!</li>
                                <li>If you didn't connect to a network cable look to our wifi video below.</li>
                                <li>If you didn't connect to a newtork cable connect to wifi</li>
                                <li>Make a call! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="connecttowifi">Connect to a wifi</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ET83oCxCM4Q?playlist=ET83oCxCM4Q&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Connect your GRP2615 to wifi.
                            <ul>
                                <li>Power on the phone, if it's not set up follow our initial setup video</li>
                                <li>Press the center key and scroll to "System"</li>
                                <li>Scroll down to wifi settings</li>
                                <li>Make sure wifi is enabled</li>
                                <li>Select scan</li>
                                <li>Select the wifi network you wish to connect to</li>
                                <li>Enter the wifi password</li>
                                <li>Wait a few seconds for the phone to connect to wifi</li>
                                <li>When the wifi logo shows in the upper right you can make a call🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="bluetooth">Connect to a Bluetooth device</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zIBUVMS7irs?playlist=zIBUVMS7irs&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to connect a Bluetooth device to your GRP2615.
                            <ul>
                                <li>Press the center button and scroll to "system"</li>
                                <li>Scroll down to Bluetooth</li>
                                <li>Scroll all the way down to "Start Scan" and wait</li>
                                <li>Put your Bluetooth device in pairing mode</li>
                                <li>Now select "Start Scan" and wait until the phone pulls up nearby devices</li>
                                <li>Select Bluetooth Device from the list and pair</li>
                                <li>Return to main screen and make sure Bluetooth logo appears in upper right corner of phone</li>
                                <li>You can now make a call! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="changeringtone">Change Your Ringtone</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YOzlXOI-UHQ?playlist=YOzlXOI-UHQ&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to change your ringtone.
                            <ul>
                                <li>Press the center key</li>
                                <li>Scroll down to preference</li>
                                <li>Scroll down to sounds</li>
                                <li>Use the left and right arrow keys to cycle through the ringtone options</li>
                                <li>When you find one you like press save</li>
                                <li>Your changes have been saved, press back until you reach the home screen</li>
                                <li>Your ringtone is now what you've selected 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="voicemailgreeting">Create a Voicemail Greeting</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZvnveaC6an8?playlist=ZvnveaC6an8&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GRP2615.
                            <ul>
                                <li>Press the voice mail key</li>
                                <li>Enter your voice mail password and press pound</li>
                                <li>Press 5 for advanced</li>
                                <li>Press 1 to set a greeting</li>
                                <li>Select one of the 9 greeting slots</li>
                                <li>Record your greeting at the beep</li>
                                <li>Press 1 to listen to the recording</li>
                                <li>Press 2 to save the recording</li>
                                <li>Hangup the call</li>
                                <li>Enjoy your new voice mail greeting! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="usespeeddial">Use Speed Dial</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/08VyoxTPD4k?playlist=08VyoxTPD4k&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use speed dial on a GRP2615.
                            <ul>
                                <li>Press the speed dial button next to the contacts name</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="callhold">Put a Call on Hold</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/msYH4phq9qg?playlist=msYH4phq9qg&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GRP2615.
                            <ul>
                                <li>Start or receive a call</li>
                                <li>Press the hold key</li>
                                <li>Press the hold key again to resume the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
                @*</div>*@
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="conferencecall">Start a Conference Call</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WiXyiGLqa0c?playlist=WiXyiGLqa0c&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to start a conference call on a GRP2615.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the "ConfCall" button</li>
                                    <li>Dial in the number of the person you would like to add to the call</li>
                                    <li>Press the "Dial" button</li>
                                    <li>Once the second person answers the call press the "ConfCall" button again to merge the calls</li>
                                    <li>Enjoy your group chat! 🚀</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="blindtransfer">Perform a blind Call Transfer</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vJSgTav12F4?playlist=vJSgTav12F4&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to perform a blind transfer on a GRP2615.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the transfer key</li>
                                    <li>Dial in the extension of the person you want to transfer the call to</li>
                                    <li>Press the "BlindTrnf" button</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="singletransfer">Transfer a Call with a single press</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MDK4wFbxsx8?playlist=MDK4wFbxsx8&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to transfer a call with a single press on a GRP2615.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the speed dial key for the contact you want to transfer the call to</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="attendedtransfer">Perform an Attended Transfer</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7tP5WdHMZyk?playlist=7tP5WdHMZyk&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to perform an attended transfer on a GRP2615.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the transfer key</li>
                                    <li>Dial the number you want to transfer the call to</li>
                                    <li>Confirm the transfer with the person you dialed</li>
                                    <li>Press the "Transfer" button to complete the transfer</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="voicemail">Check your Voicemail</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5-VaOxuubJ4?playlist=5-VaOxuubJ4&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to check your voicemail on a GRP2615.
                                <ul>
                                    <li>Press the voicemail key</li>
                                    <li>Enter your password</li>
                                    <li>Press pound</li>
                                    <li>Press 1 to listen to messages</li>
                                    <li>Press 7 to delete the message</li>
                                    <li>Hangup the call and you're done! 🚀</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="callpark">Use Call Park</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V-ysFfO4o-Q?playlist=V-ysFfO4o-Q&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to use call park on a GRP2615.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the "Park" button</li>
                                    <li>Watch the light next to the "Park" button turn red</li>
                                    <li>Press the "Park" button again to retrive the call</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
