@{
    ViewData["Title"] = "GRP2612";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">How to use the GRP2612</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Table of Contents</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                <a href="#changeringtone">
                                    Change the ringtone on your Grandstream GRP2612
                                </a>
                            </li>
                            <li>
                                <a href="#usespeeddial">
                                    Use Speed Dial
                                </a>
                            </li>
                            <li>
                                <a href="#callhold">
                                    Put a Call on Hold
                                </a>
                            </li>
                            <li>
                                <a href="#singletransfer">
                                    Transfer a Call with a single press
                                </a>
                            </li>
                            <li>
                                <a href="#voicemail">
                                    Check your Voicemail
                                </a>
                            </li>
                            <li>
                                <a href="#callpark">
                                    Use Call Park
                                </a>
                            </li>
                            <li>
                                <a href="#reboot">
                                    Reboot the GRP2612
                                </a>
                            </li>
                            <li>
                                <a href="#factoryreset">
                                    Factory Reset a GRP2612
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="changeringtone">Change Your Ringtone</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5fZSm8ny83M?playlist=5fZSm8ny83M&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to change your ringtone.
                            <ul>
                                <li>Press the center key</li>
                                <li>Scroll down to preference</li>
                                <li>Scroll down to sounds</li>
                                <li>Use the left and right arrow keys to cycle through the ringtone options</li>
                                <li>When you find one you like press save</li>
                                <li>Your changes have been saved, press back until you reach the home screen</li>
                                <li>Your ringtone is now what you've selected 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="voicemailgreeting">Create a Voicemail Greeting</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNtvgiUpjSc?playlist=uNtvgiUpjSc&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GRP2612.
                            <ul>
                                <li>Press the voice mail key</li>
                                <li>Enter your voice mail password and press pound</li>
                                <li>Press 5 for advanced</li>
                                <li>Press 1 to set a greeting</li>
                                <li>Select one of the 9 greeting slots</li>
                                <li>Record your greeting at the beep</li>
                                <li>Press 1 to listen to the recording</li>
                                <li>Press 2 to save the recording</li>
                                <li>Hangup the call</li>
                                <li>Enjoy your new voice mail greeting! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="usespeeddial">Use Speed Dial</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/upgNsE_ptqg?playlist=upgNsE_ptqg&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use speed dial on a GRP2612.
                            <ul>
                                <li>Press the speed dial button next to the contacts name</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="callhold">Put a Call on Hold</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EKQRVcI2BoA?playlist=EKQRVcI2BoA&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GRP2612.
                            <ul>
                                <li>Start or receive a call</li>
                                <li>Press the hold key</li>
                                <li>Press the hold key again to resume the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="singletransfer">Transfer a Call with a single press</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/20xe0THrO_8?playlist=20xe0THrO_8&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to transfer a call with a single press on a GRP2612.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the speed dial key for the contact you want to transfer the call to</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="voicemail">Check your Voicemail</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNtvgiUpjSc?playlist=uNtvgiUpjSc&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to check your voicemail on a GRP2612.
                                <ul>
                                    <li>Press the voicemail key</li>
                                    <li>Enter your password</li>
                                    <li>Press pound</li>
                                    <li>Press 1 to listen to messages</li>
                                    <li>Press 7 to delete the message</li>
                                    <li>Hangup the call and you're done! 🚀</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="callpark">Use Call Park</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RuN8jvcsDOY?playlist=RuN8jvcsDOY&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to use call park on a GRP2612.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the "Park" button</li>
                                    <li>Watch the light next to the "Park" button turn red</li>
                                    <li>Press the "Park" button again to retrive the call</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="callpark">Reboot</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tvlZ9KTyYSk?playlist=tvlZ9KTyYSk&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to use call park on a GRP2612.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the "Park" button</li>
                                    <li>Watch the light next to the "Park" button turn red</li>
                                    <li>Press the "Park" button again to retrive the call</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card mb-4 shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center" id="callpark">Factory Reset</h4>
                        </div>
                        <div class="card-img">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hpHtXEFHq8Q?playlist=hpHtXEFHq8Q&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                Here are the steps to use call park on a GRP2612.
                                <ul>
                                    <li>Start or receive a call</li>
                                    <li>Press the "Park" button</li>
                                    <li>Watch the light next to the "Park" button turn red</li>
                                    <li>Press the "Park" button again to retrive the call</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
