@{
    ViewData["Title"] = "GRP2612";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">How to use the GRP2612</h1>
    </div>
    <br />
    <div class="row mb-0">
        <div class="col-sm-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Table of Contents</h4>
                </div>
                <div class="card-body">
                    <ul class="card-text">
                        <li>
                            <a href="#changeringtone">
                                💍 Change the ringtone on your Grandstream GRP2612
                            </a>
                        </li>
                        <li>
                            <a href="#usespeeddial">
                                🚀 Use Speed Dial
                            </a>
                        </li>
                        <li>
                            <a href="#callhold">
                                🤐 Put a Call on Hold
                            </a>
                        </li>
                        <li>
                            <a href="#singletransfer">
                                🚶 Transfer a Call with a single press
                            </a>
                        </li>
                        <li>
                            <a href="#voicemail">
                                📮 Check your Voicemail
                            </a>
                        </li>
                        <li>
                            <a href="#callpark">
                                🏞️ Use Call Park
                            </a>
                        </li>
                        <li>
                            <a href="#reboot">
                                ♻️ Reboot the GRP2612
                            </a>
                        </li>
                        <li>
                            <a href="#factoryreset">
                                🏭 Factory Reset a GRP2612
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">
            <div class="card shadow">
                <img class="card-img-top" src="/images/scaled/GRP2612front-400.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="display-4">
                            GRP2612
                        </h4>
                    </div>
                    <p class="card-text">Bringing Bluetooth 5 & WiFi support to the table, the GRP2615 is a high performing, versatile phone that is at home on any desk! Supports Power over Ethernet.</p>
                    <a class="btn btn-primary" href="~/Hardware/GRP2612">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="changeringtone">💍 Change Your Ringtone</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5fZSm8ny83M?playlist=5fZSm8ny83M&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to change your ringtone.
                            <ul>
                                <li>Press the center key</li>
                                <li>Scroll down to preference</li>
                                <li>Scroll down to sounds</li>
                                <li>Use the left and right arrow keys to cycle through the ringtone options</li>
                                <li>When you find one you like press save</li>
                                <li>Your changes have been saved, press back until you reach the home screen</li>
                                <li>Your ringtone is now what you've selected 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="usespeeddial">🚀 Use Speed Dial</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/upgNsE_ptqg?playlist=upgNsE_ptqg&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use speed dial on a GRP2612.
                            <ul>
                                <li>Press the speed dial button next to the contacts name</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="callhold">🤐 Put a Call on Hold</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EKQRVcI2BoA?playlist=EKQRVcI2BoA&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GRP2612.
                            <ul>
                                <li>Start or receive a call</li>
                                <li>Press the hold key</li>
                                <li>Press the hold key again to resume the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="singletransfer">🚶 Transfer a Call with a single press</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/20xe0THrO_8?playlist=20xe0THrO_8&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to transfer a call with a single press on a GRP2612.
                            <ul>
                                <li>Start or receive a call</li>
                                <li>Press the speed dial key for the contact you want to transfer the call to</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="voicemail">📮 Check your Voicemail</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNtvgiUpjSc?playlist=uNtvgiUpjSc&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to check your voicemail on a GRP2612.
                            <ul>
                                <li>Press the voicemail key</li>
                                <li>Enter your password</li>
                                <li>Press pound</li>
                                <li>Press 1 to listen to messages</li>
                                <li>Press 7 to delete the message</li>
                                <li>Hangup the call and you're done! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="callpark">🏞️ Use Call Park</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RuN8jvcsDOY?playlist=RuN8jvcsDOY&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use call park on a GRP2612.
                            <ul>
                                <li>Start or receive a call</li>
                                <li>Press the "Park" button</li>
                                <li>Watch the light next to the "Park" button turn red</li>
                                <li>Press the "Park" button again to retrive the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="reboot">♻️ Reboot</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tvlZ9KTyYSk?playlist=tvlZ9KTyYSk&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to reboot a Grandstream GRP2612.
                            <ul>
                                <li>Press center “dot” key to bring up the menu</li>
                                <li>Scroll over to and select Reboot in the menu</li>
                                <li>Confirm with the under-screen keys</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="factoryreset">🏭 Factory Reset</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hpHtXEFHq8Q?playlist=hpHtXEFHq8Q&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to Factory Reset a Grandstream GRP2612.
                            <ul>
                                <li>Press center “dot” key to bring up the menu</li>
                                <li>Scroll over to and select System in the menu</li>
                                <li>Scroll down to and select Factory Reset, almost at the bottom</li>
                                <li>Confirm with the under-screen keys</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>