
@{
    ViewData["Title"] = "GXP2170";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto mb-4 text-center">
        <h1 class="display-4">How to use the GXP2170</h1>
    </div>
    <br />
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Create a Voice Mail Greeting</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hB2VfAYuLic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GXP2170.
                            <ul>
                                <li>Press the voice mail key</li>
                                <li>Enter your voice mail password and press pound</li>
                                <li>Press 5 for advanced</li>
                                <li>Press 1 to set a greeting</li>
                                <li>Select one of the 9 greeting slots</li>
                                <li>Record your greeting at the beep</li>
                                <li>Press 1 to listen to the recording</li>
                                <li>Press 2 to save the recording</li>
                                <li>Hangup the call</li>
                                <li>Enjoy your new voice mail greeting! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Check your Voicemail</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Apb5aVpkBjU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to check your voicemail on a GXP2170.
                            <ul>
                                <li>Press the voicemail key</li>
                                <li>Enter your password</li>
                                <li>Press pound</li>
                                <li>Press 1 to listen to messages</li>
                                <li>Press 7 to delete the message</li>
                                <li>Hangup the call and you're done! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Use Speed Dial</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4f8yXpzirrM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use speed dial on a GXP2170.
                            <ul>
                                <li>Press the speed dial button next to the contacts name</li>
                            </ul>
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Put a Call on Hold</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1DyiVq82t_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to set a voice mail greeting on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the hold key</li>
                                <li>Press the hold key again to resume the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Start a Confrence Call</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZhK6HsMVu9g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to start a conference call on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the "ConfCall" button</li>
                                <li>Dial in the number of the person you would like to add to the call</li>
                                <li>Press the "Dial" button</li>
                                <li>Once the second person answers the call press the "ConfCall" button again to merge the calls</li>
                                <li>Enjoy your group chat! 🚀</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Perform a blind Call Transfer</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8eFc_HLloPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to perform a blind transfer on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the transfer key</li>
                                <li>Dial in the extension of the person you want to transfer the call to</li>
                                <li>Press the "BlindTrnf" button</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Transfer a Call with a single press</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sVaGBJGaO3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to transfer a call with a single press on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the speed dial key for the contact you want to transfer the call to</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Perform an Attended Transfer</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nYNUCjE5hdU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to perform an attended transfer on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the transfer key</li>
                                <li>Dial the number you want to transfer the call to</li>
                                <li>Confirm the transfer with the person you dialed</li>
                                <li>Press the "Transfer" button to complete the transfer</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center">Use Call Park</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/134_3Bo4Ids" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Here are the steps to use call park on a GXP2170.
                            <ul>
                                <li>Start or recieve a call</li>
                                <li>Press the "Park" button</li>
                                <li>Watch the light next to the "Park" button turn red</li>
                                <li>Press the "Park" button again to retrive the call</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>