@{
    ViewData["Title"] = "Web Texting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">How to use Web Texting</h1>
    </div>
    <br />
    <div class="row mb-0">
        <div class="col-sm-6 mb-4">
            <div class="card shadow h-100">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-center">Table of Contents</h4>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="#setup">
                                🕹️ Setup Web Texting
                            </a>
                        </li>
                        <li>
                            <a href="#newcontact">
                                🤵 Add a New Contact
                            </a>
                        </li>
                        <li>
                            <a href="#addhomescreen">
                                🏠 Adding to Home Screen on iOS
                            </a>
                        </li>
                        <li>
                            <a href="#notifications">
                                🔔 Turning on Notifications
                            </a>
                        </li>
                        <li>
                            <a href="#troubleshooting">
                                😵‍💫 Troubleshooting
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-4">
            <div class="card shadow">
                <img class="card-img-top" src="/images/original/WebTexting.jpg" title="Web Texting" />
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="display-4">
                            Web Texting
                        </h4>
                    </div>
                    <p class="card-text">Need a business texting solution that can serve your workplace from the computer you already own?</p>
                    <a class="btn btn-primary" href="/Additional">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck mb-3">
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="setup">🕹️ Setup Web Texting</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            To start texting, find your welcome email and follow your portal link in a web browser then go to Applications => Web Texting.
                        </p>
                        <p>Need help? Call or text 206-858-8757 or email <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a> and we can help you access the FusionPBX portal. Do not go to FusionPBX.com, this will not direct to the organization's FusionPBX portal.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="newcontact">🤵 Add a New Contact</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe loading="lazy" class="embed-responsive-item" src="https://www.youtube.com/embed/RdwW-JSUfPg?si=vxEfzx1E2YthxX_5&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            To add a new contact in Web Texting first open the app. Then find the + button near the bottom left corner of your screen. Click the plus icon to create a New Conversation.
                        </p><p>
    In the box labeled Enter Number, enter the 11-digit phone number of the new contact. Make sure to include a 1 at the beginning of the phone number. Write a text to send to the new contact and hit the paper plane button to send the message.
</p><p>
                            You can return to your list of contacts by hitting the back button in the upper left corner of the screen. You'll now see the new contact that you just added listed along with the rest of your contacts.
                        </p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        If this video is unavailable please refresh the page.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="addhomescreen">🏠 Adding to Home Screen on iOS</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe loading="lazy" class="embed-responsive-item" src="https://www.youtube.com/embed/x172MmZkiDY?si=G-nbSv61dNptLgAZ&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            To add Web Texting to your home screen on an iOS device, first open Web Texting. Then hit the share button in the bottom right corner of the screen. Scroll down on the sharing screen until you see a button labeled Add to Home Screen, then hit that button.
                        </p><p>
                            A prompt will come up, hit the Add button in the top right corner of the screen. The Accelerate Networks icon will appear on your home screen, labeled Web Texting.
                        </p><p>
                            To open the app in the future, just tap the Web Texting app on your home screen.
                        </p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        If this video is unavailable please refresh the page.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="notifications">🔔 Turning on Notifications</h4>
                    </div>
                    <div class="card-img">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe loading="lazy" class="embed-responsive-item" src="https://www.youtube.com/embed/7yQ-4r23Xt4?si=PgTvnkK0RHv4G6Cp&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            To turn on notifications, first open Web Texting. Then hit the bell icon with a slash through it, indicating that notifications are disabled, in the top right corner of the screen.
                        </p><p>
                            You will be prompted to allow Web Texting to send you notifications, tap Allow. The bell icon will now appear without a slash through it, indicating that notifications are enabled.
                        </p><p> You will now be prompted when a new text message arrives.</p>
                    </div>
                    <div class="card-footer text-body-secondary">
                        If this video is unavailable please refresh the page.
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card mb-4 shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal text-center" id="troubleshooting">😵‍💫 Troubleshooting</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            If you run into any issues, email us at <a href="mailto:support@acceleratenetworks.com">support@acceleratenetworks.com</a> with when the issue happened, and describe what happened (Example: I was texting with X and Y thing happened).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
