@using AccelerateNetworks.Operations
@model IEnumerable<EmergencyInformation>
@{
    ViewData["Title"] = "E911";
}
<h1 class="display-4 p-3">🚨 E911</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Number
                </th>
                <th>Status</th>
                <th>Physical Location</th>
                <th>Raw Response</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model)
            {
                var smsDisplay = string.IsNullOrWhiteSpace(info?.Sms) ? "No SMS numbers registered." : info.Sms;
                <tr>
                    <td>
                        <h4>@info?.DialedNumber</h4>
                    </td>
                    <td data-order="@info?.ModifiedDate?.Ticks">
                        @{
                            var ingestedBadge = info?.IngestedFrom;
                            switch (info?.IngestedFrom)
                            {
                                case "FirstPointCom":
                                    ingestedBadge = "<h4><span class='badge bg-info'>FirstPointCom</span></h4>";
                                    break;
                                case "BulkVS":
                                    ingestedBadge = "<h4><span class='badge bg-primary'>BulkVS</span></h4>";
                                    break;
                                case "TeleMessage":
                                    ingestedBadge = "<h4><span class='badge bg-warning'>TeleMessage</span></h4>";
                                    break;
                            }
                        }
                        @Html.Raw(ingestedBadge)
                        <strong>Date Registered for Service</strong>
                        <p>@info?.BulkVSLastModificationDate</p>
                        <strong>Last Modified</strong>
                        <p>@info?.ModifiedDate</p>
                    </td>
                    <td>
                        <strong>Caller Name</strong>
                        <p>@info?.CallerName </p>
                        <strong>Address</strong>
                        <p>@info?.AddressLine1 @info?.AddressLine2, @info?.City, @info?.State @info?.Zip </p>
                        <strong>SMS</strong>
                        <p>@smsDisplay</p>
                    </td>
                    <td>@info?.RawResponse</td>
                    <td>
                        <div class="btn-group">
                            <a href="https://www.google.com/maps/place/@info?.AddressLine1,+@info?.City,+@info?.State+@info?.Zip/" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                                Map
                            </a>
                            <a class="btn btn-danger text-light" href="/Home/E911/@info?.DialedNumber">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>