@using AccelerateNetworks.Operations
@model IEnumerable<EmergencyInformation>
@{
    ViewData["Title"] = "Emergency Information";
}
<h1 class="display-4 p-3">🚨 Emergency Information</h1>
<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Number
                </th>
                <th>Status</th>
                <th>Physical Location</th>
                <th>
                    Notes
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model)
            {
                <tr>
                    <td>
                        <h4>@info.DialedNumber</h4>
                    </td>
                    <td data-order="@info?.ModifyDate?.Ticks">
                        @{
                            var ingestedBadge = info?.IngestedFrom;
                            switch (info?.IngestedFrom)
                            {
                                case "FirstPointCom":
                                    ingestedBadge = "<h4><span class='badge bg-info'>FirstPointCom</span></h4>";
                                    break;
                                case "BulkVS":
                                    ingestedBadge = "<h4><span class='badge bg-primary'>BulkVS</span></h4>";
                                    break;
                                case "TeleMessage":
                                    ingestedBadge = "<h4><span class='badge bg-warning'>TeleMessage</span></h4>";
                                    break;
                            }
                        }
                        @Html.Raw(ingestedBadge)
                        <strong>Alert Group</strong>
                        <p>@info?.AlertGroup</p>
                        <strong>Last Modified</strong>
                        <p>@info?.ModifyDate</p>
                        <strong>Created</strong>
                        <p>@info?.CreatedDate</p>
                    </td>
                    <td>
                        <strong>Address</strong>
                        <p>@info?.Address, @info?.City, @info?.State @info?.Zip </p>
                        @{
                            if (!(string.IsNullOrWhiteSpace(info?.UnitType)))
                            {
                                <p>Unit @info.UnitNumber</p>
                                <strong>Unit Type</strong>
                                <p>@info.UnitType</p>
                            }
                        }
                    </td>
                    <td>
                        @info?.Note
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="https://www.google.com/maps/place/@info?.Address,+@info?.City,+@info?.State+@info?.Zip/" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                                Map
                            </a>
                            <a class="btn btn-danger text-light" href="/Home/EmergencyInformation/@info?.DialedNumber">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>