@using AccelerateNetworks.Operations
@model IEnumerable<IngestCycle>
@{
    ViewData["Title"] = "Ingest Configuration";
}
<h1 class="display-4 p-3">💨 Ingest Configuration</h1>
<form method="post">
    <div class="table-responsive">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        Ingested From
                    </th>
                    <th>
                        Cycle Time
                    </th>
                    <th>
                        Last Updated
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var cycle in Model)
                    {
                        var ingestedBadge = cycle.IngestedFrom;
                        switch (cycle.IngestedFrom)
                        {
                            case "FirstPointCom":
                                ingestedBadge = "<h4><span class='badge bg-info'>FirstPointCom</span></h4>";
                                break;
                            case "BulkVS":
                                ingestedBadge = "<h4><span class='badge bg-primary'>BulkVS</span></h4>";
                                break;
                            case "TeleMessage":
                                ingestedBadge = "<h4><span class='badge bg-warning'>TeleMessage</span></h4>";
                                break;
                        }
                        <tr>
                            <td>
                                @Html.Raw(ingestedBadge)
                                @{
                                    if (cycle.Enabled ?? false)
                                    {
                                        <h4><span class="badge bg-success">Enabled</span></h4>
                                    }
                                    else
                                    {
                                        <h4><span class="badge bg-danger">Disabled</span></h4>
                                    }
                                }
                                @{
                                    if (cycle.RunNow ?? false)
                                    {
                                        <h4><span class="badge bg-warning">Run Now</span></h4>
                                    }
                                }
                            </td>
                            <td>
                                @cycle.CycleTime
                            </td>
                            <td>
                                @cycle.LastUpdate
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="validationTooltip02">Hours per Cycle</label>
            <input type="number" class="form-control" id="cycle" name="cycle">
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip02">Ingest Provider's Name</label>
            <input type="text" class="form-control" id="ingestedFrom" name="ingestedFrom" placeholder="TeleMessage">
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationTooltip02">Ingest State</label>
            <select class="form-control" id="Enabled" name="enabled">
                <option selected>Enabled</option>
                <option>Disabled</option>
            </select>
        </div>
        <div class="custom-control custom-checkbox col-md-3 mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="runNow" value="true">
            <label class="custom-control-label" for="customCheck1">Run Now</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mb-3">
            <button class="btn btn-primary btn-block" type="submit">Update</button>
        </div>
    </div>
</form>