@model NumberSearch.DataAccess.Order
@{
    ViewData["Title"] = "Order";
}
<h1 class="display-4 p-3">🛒 Order @Model?.OrderId</h1>
<div class="">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="https://acceleratenetworks.com/cart/order/@Model?.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
            Order
        </a>
        <a href="/Home/Emails/@Model?.OrderId" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
            Emails
        </a>
        <a href="https://www.google.com/maps/place/@Model?.Address,+@Model?.City,+@Model?.State+@Model?.Zip/" class="btn btn-outline-secondary" target="_blank" rel="noopener noreferrer">
            Map
        </a>
    </div>
    <h4 class="d-flex justify-content-between align-items-center mt-3">
        <span class="badge badge-info badge-pill">
            @Model.DateSubmitted
        </span>
    </h4>
    <div class="btn-group mt-2 mb-3" role="group" aria-label="Basic example">
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingInvoiceId))
            {
                <a href="https://billing.acceleratenetworks.com/invoices/@Model?.BillingInvoiceId/edit" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
                    Upfront
                </a>
            }
        }
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingInvoiceReoccuringId))
            {
                <a href="https://billing.acceleratenetworks.com/invoices/@Model?.BillingInvoiceReoccuringId/edit" class="btn btn-outline-success" target="_blank" rel="noopener noreferrer">
                    Recurring
                </a>
            }
        }
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingClientId))
            {
                <a href="https://billing.acceleratenetworks.com/clients/@Model?.BillingClientId/edit" class="btn btn-outline-info" target="_blank" rel="noopener noreferrer">
                    Client
                </a>
            }
        }
    </div>
    <form action="/Home/Order/@Model?.OrderId" method="post" class="needs-validation">
        @Html.AntiForgeryToken()
        <h4 class="mb-3">Order Information</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">Order Id</label>
                <input value="@Model?.OrderId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Submitted On</label>
                <input value="@Model?.DateSubmitted" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="backgroundWorkCompleted">Background Work Completed</label>
                <input asp-for="BackgroundWorkCompleted" type="checkbox" class="form-control">
            </div>
            <div class="col mb-3">
                <label for="completed">Completed</label>
                <input asp-for="Completed" type="checkbox" class="form-control">
            </div>
            <div class="col mb-3">
                <label for="lastName">Sales Email</label>
                <input asp-for="SalesEmail" type="text" class="form-control" placeholder="scott@@acceleratenetworks.com">
            </div>
        </div>
        <h4 class="mb-3">Invoice Ninja</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">Upfront Invoice Id</label>
                <input value="@Model?.BillingInvoiceId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Reoccuring Invoice Id</label>
                <input value="@Model?.BillingInvoiceReoccuringId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Client Id</label>
                <input value="@Model?.BillingClientId" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <h4 class="mb-3">Billing Information</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">First name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Alexander" required>
            </div>
            <div class="col mb-3">
                <label for="lastName">Last name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Bell" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Business Name (Optional)</label>
            <input asp-for="BusinessName" type="text" class="form-control" id="businessName" placeholder="American Telegraph and Telephone Company">
            <div class="invalid-feedback">
                Please enter a valid business name.
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email </label>
            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>

        <div class="mb-3">
            <label for="address">Address</label>
            <input asp-for="Address" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
                Please enter your shipping address.
            </div>
        </div>

        <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input asp-for="Address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">City</label>
                <input asp-for="City" type="text" class="form-control" id="city" placeholder="Seattle" required>
                <div class="invalid-feedback">
                    Please enter your shipping city.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select asp-for="State" class="custom-select d-block w-100" id="state" required>
                    <option value="">Choose...</option>
                    @{
                        var states = new string[] { "Alabama",
                                                        "Alaska",
                                                        "Arizona",
                                                        "Arkansas",
                                                        "California",
                                                        "Colorado",
                                                        "Connecticut",
                                                        "Delaware",
                                                        "Florida",
                                                        "Georgia",
                                                        "Hawaii",
                                                        "Idaho",
                                                        "Illinois",
                                                        "Indiana",
                                                        "Iowa",
                                                        "Kansas",
                                                        "Kentucky",
                                                        "Louisiana",
                                                        "Maine",
                                                        "Maryland",
                                                        "Massachusetts",
                                                        "Michigan",
                                                        "Minnesota",
                                                        "Mississippi",
                                                        "Missouri",
                                                        "Montana",
                                                        "Nebraska",
                                                        "Nevada",
                                                        "New Hampshire",
                                                        "New Jersey",
                                                        "New Mexico",
                                                        "New York",
                                                        "North Carolina",
                                                        "North Dakota",
                                                        "Ohio",
                                                        "Oklahoma",
                                                        "Oregon",
                                                        "Pennsylvania",
                                                        "Rhode Island",
                                                        "South Carolina",
                                                        "South Dakota",
                                                        "Tennessee",
                                                        "Texas",
                                                        "Utah",
                                                        "Vermont",
                                                        "Virginia",
                                                        "Washington",
                                                        "West Virginia",
                                                        "Wisconsin",
                                                        "Wyoming"
                                                        };

                        foreach (var state in states)
                        {
                            <option>@state</option>
                        }
                    }
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input asp-for="Zip" type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                    Zip code required.
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="zip" class="text-muted">Notes</label>
                <input asp-for="CustomerNotes" type="text" class="form-control" id="customernotes" placeholder="Add important information for our staff">
            </div>
            <div class="col-md-12">
                <div class="form-check">
                    <input asp-for="Quote" type="checkbox" class="form-check-input" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Please send a quote
                    </label>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Update</button>
        <br />
    </form>
    <br />
    <a href="/Home/Order/@Model.OrderId/Delete" class="btn btn-danger">Delete</a>
    <br />
</div>
