@model NumberSearch.DataAccess.Order
@{
    ViewData["Title"] = "Order";
}

<script type="text/javascript">
    function handleSearchQuery(textBox) {
        var route = 'https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/suggest?text=';
        var suffix = '&maxSuggestions=5&countryCode=USA&f=pjson';
        fetch(`${route}${textBox.value}${suffix}`)
            .then(
                function (response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status Code: ' +
                            response.status);
                        return;
                    }

                    // Examine the text in the response
                    response.json().then(function (data) {
                        console.log(data);

                        var options = '';

                        for (var i = 0; i < data.suggestions.length; i++) {
                            options += '<option value="' + data.suggestions[i].text + '" />';
                        }

                        var datalist = document.createElement("datalist");
                        datalist.id = 'realaccountoptions';
                        datalist.innerHTML = options;
                        var textBox = document.getElementById("address");
                        var check = document.getElementById('realaccountoptions');
                        if (typeof (check) != 'undefined' && check != null) {
                            check.remove();
                        }
                        textBox.appendChild(datalist);
                        textBox.setAttribute('list', 'realaccountoptions');
                        console.log(datalist);
                    });
                }
            )
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    }
</script>


<h1 class="display-4 p-3">🛒 Order @Model?.OrderId</h1>
<div class="">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="https://acceleratenetworks.com/cart/order/@Model?.OrderId" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
            Order
        </a>
        <a href="/Home/Emails/@Model?.OrderId" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
            Emails
        </a>
        <a href="https://www.google.com/maps/place/@Model?.Address,+@Model?.City,+@Model?.State+@Model?.Zip/" class="btn btn-outline-secondary" target="_blank" rel="noopener noreferrer">
            Map
        </a>
    </div>
    <h4 class="d-flex justify-content-between align-items-center mt-3">
        <span class="badge badge-info badge-pill">
            @Model.DateSubmitted
        </span>
    </h4>
    <div class="btn-group mt-2 mb-3" role="group" aria-label="Basic example">
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingInvoiceId))
            {
                <a href="https://billing.acceleratenetworks.com/invoices/@Model?.BillingInvoiceId/edit" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
                    Upfront
                </a>
            }
        }
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingInvoiceReoccuringId))
            {
                <a href="https://billing.acceleratenetworks.com/invoices/@Model?.BillingInvoiceReoccuringId/edit" class="btn btn-outline-success" target="_blank" rel="noopener noreferrer">
                    Recurring
                </a>
            }
        }
        @{
            if (!string.IsNullOrWhiteSpace(Model?.BillingClientId))
            {
                <a href="https://billing.acceleratenetworks.com/clients/@Model?.BillingClientId/edit" class="btn btn-outline-info" target="_blank" rel="noopener noreferrer">
                    Client
                </a>
            }
        }
    </div>
    <form action="/Home/Order/@Model?.OrderId" method="post" class="needs-validation">
        @Html.AntiForgeryToken()
        <h4 class="mb-3">Order Information</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">Order Id</label>
                <input value="@Model?.OrderId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Submitted On</label>
                <input value="@Model?.DateSubmitted" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="backgroundWorkCompleted">Background Work Completed</label>
                <input asp-for="BackgroundWorkCompleted" type="checkbox" class="form-control">
            </div>
            <div class="col mb-3">
                <label for="completed">Completed</label>
                <input asp-for="Completed" type="checkbox" class="form-control">
            </div>
        </div>
        <h4 class="mb-3">Invoice Ninja</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">Upfront Invoice Id</label>
                <input value="@Model?.BillingInvoiceId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Reoccuring Invoice Id</label>
                <input value="@Model?.BillingInvoiceReoccuringId" type="text" class="form-control" placeholder="" readonly>
            </div>
            <div class="col mb-3">
                <label for="lastName">Client Id</label>
                <input value="@Model?.BillingClientId" type="text" class="form-control" placeholder="" readonly>
            </div>
        </div>
        <h4 class="mb-3">Billing Information</h4>
        <div class="row">
            <div class="col mb-3">
                <label for="firstName">First name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Alexander" required>
            </div>
            <div class="col mb-3">
                <label for="lastName">Last name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Bell" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Business Name (Optional)</label>
            <input asp-for="BusinessName" type="text" class="form-control" id="businessName" placeholder="American Telegraph and Telephone Company">
            <div class="invalid-feedback">
                Please enter a valid business name.
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email </label>
            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>

        <div class="mb-3" id="searchForm">
            <label for="address">Address</label>
            <input asp-for="Address" type="text" class="form-control" id="address" placeholder="5432 5th Ave" onchange="handleSearchQuery(this)" pattern=".+[,].+" autocomplete="off" oninput="handleSearchQuery(this)" required>
            <small class="text-muted">
                Enter the shipping address for this order, or the address of the installation location (ex. 1250 1st Ave S, Seattle, WA, 98134, USA)
            </small>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="unitType">Unit Type <span class="text-muted">(Optional)</span></label>
                <select asp-for="AddressUnitType" class="custom-select d-block w-100" id="unitType">
                    <option></option>
                    @{
                        var unitTypes = new string[] {
                                "Apartment",
                                "Basement",
                                "Building",
                                "Department",
                                "Floor",
                                "Front",
                                "Hanger",
                                "Lobby",
                                "Lot",
                                "Lower",
                                "Office",
                                "Penthouse",
                                "Pier",
                                "Rear",
                                "Room",
                                "Side",
                                "Space",
                                "Suite",
                                "Trailer",
                                "Unit",
                                "Upper",
                            };

                        foreach (var unitType in unitTypes)
                        {
                            <option>@unitType</option>
                        }
                    }
                </select>
                <small class="text-muted">
                    Optionally enter a unit type (ex. Apartment)
                </small>
            </div>
            <div class="col-md-8 mb-3">
                <label for="address2">Unit Number <span class="text-muted">(Optional)</span></label>
                <input asp-for="AddressUnitNumber" type="text" class="form-control" id="address2" placeholder="307">
                <small class="text-muted">
                    Optionally enter a unit number (ex. 307)
                </small>
            </div>
        </div>

        <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input asp-for="Address2" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="unitType">City</label>
                <input asp-for="City" type="text" class="form-control" id="address2" readonly>

            </div>
            <div class="col-md-4 mb-3">
                <label for="address2">State</label>
                <input asp-for="State" type="text" class="form-control" id="address2" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="address2">Zip</label>
                <input asp-for="Zip" type="text" class="form-control" id="address2" readonly>
            </div>
        </div>
        <h4 class="mb-3">Installation Information</h4>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="installationType">Installation Location</label>
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-secondary">
                            <input asp-for="OnsiteInstallation" type="radio" id="ltoption1" value="false" disabled> Remote
                        </label>
                        <label class="btn btn-outline-secondary">
                            <input asp-for="OnsiteInstallation" type="radio" id="ltoption2" value="true" disabled> Onsite
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="installdate">Preferred Install Date</label>
                <input asp-for="InstallDate" type="datetime-local" class="form-control" id="installdate">
            </div>
            <div class="col-md-6 mb-3">
                <label for="sales">Sales Representative</label>
                <select asp-for="SalesEmail" class="custom-select mr-sm-2" id="sales">
                    <option selected>Choose...</option>
                    <option value="scott@acceleratenetworks.com">Scott</option>
                    <option value="kyle@acceleratenetworks.com">Kyle</option>
                    <option value="dan@acceleratenetworks.com">Dan</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="zip" class="text-muted">Notes</label>
                <input asp-for="CustomerNotes" type="text" class="form-control" id="customernotes" placeholder="Add important information for our staff">
            </div>
            <div class="col-md-12">
                <div class="form-check">
                    <input asp-for="Quote" type="checkbox" class="form-check-input" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Please send a quote
                    </label>
                </div>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-danger">Update</button>
        <br />
    </form>
    <br />
    <a href="/Home/Order/@Model.OrderId/Delete" class="btn btn-danger">Delete</a>
    <br />
</div>
