@model NumberSearch.DataAccess.OwnedPhoneNumber
@{
    ViewData["Title"] = "Owned Phone Number";
}
<h1 class="display-4 p-3">🏢 Owned Numbers</h1>

<div class="btn-group pb-3" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="/Home/OwnedNumbers">Return to List</a>
    @{
        if (!string.IsNullOrWhiteSpace(Model?.BillingClientId))
        {
            <a href="https://billing.acceleratenetworks.com/clients/@Model?.BillingClientId/edit" class="btn btn-success" target="_blank" rel="noopener noreferrer">
                Billing
            </a>
        }
        else
        {
            <a class="btn btn-outline-success disabled">
                Billing
            </a>
        }
    }
    @{
        if (!(Model?.EmergencyInformationId is null))
        {
            <a href="/Home/EmergencyInformation/@Model?.DialedNumber" class="btn btn-info">
                Emergency
            </a>
        }
        else
        {
            <a class="btn btn-outline-info disabled">
                Emergency
            </a>
        }
    }
</div>
<form action="/Home/OwnedNumbers/@Model.DialedNumber" method="post" class="needs-validation">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Dialed Number</label>
            <input asp-for="DialedNumber" type="text" class="form-control" id="DialedNumber" readonly>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="Active" role="switch" id="active">
                <label class="form-check-label" for="active">Active</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Ingested From</label>
            <input asp-for="IngestedFrom" type="text" class="form-control" id="IngestedFrom" readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Ingested Date</label>
            <input asp-for="DateIngested" type="text" class="form-control" id="DateIngested" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="firstName">Notes</label>
            <input asp-for="Notes" type="text" class="form-control" id="Notes">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="lastName">Service Provider</label>
            <input asp-for="SPIDName" type="text" class="form-control" id="SPIDName" readonly>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Service Provider Id</label>
            <input asp-for="SPID" type="text" class="form-control" id="SPID" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Billing Client Id</label>
            <input asp-for="BillingClientId" type="text" class="form-control" id="BillingClientId">
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Owned By</label>
            <input asp-for="OwnedBy" type="text" class="form-control" id="OwnedBy">
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Update</button>
    <br />
</form>
<br />