@model Cart

@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pricing Hero-->
<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">Simple, fair pricing</h1>
                <h4 class="display-4 text-light d-block d-sm-none">Simple, fair pricing</h4>
                <p class="lead text-white">Every business has different needs, so we give you flexibility in how you pay. Choose the option that works best for your needs.</p>
            </div>
        </div>
    </div>
</section>
<div class="pt-3">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Phone Service</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Additional Services</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <br />
                <div class="card-deck text-center">
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Lines</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$40 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Unlimited Calling</li>
                                <li>HD Voice</li>
                                <li>Music on Hold</li>
                                <li>Call Menus and more</li>
                                <li>Integrates with Microsoft Teams</li>
                                <li>Permits 1 Concurrent call</li>
                                <li>Have as many phones as you want!</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var lines = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("16e2c639-445b-4ae6-9925-07300318206b")).FirstOrDefault();
                                        if (lines is not null && lines.Quantity > 0)
                                        {
                                            <input id="lines" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@lines?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','16e2c639-445b-4ae6-9925-07300318206b', $('#lines').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="lines" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','16e2c639-445b-4ae6-9925-07300318206b', $('#lines').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Seats</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Unlimited Calling</li>
                                <li>HD Voice</li>
                                <li>Music on Hold</li>
                                <li>Call Menus and more</li>
                                <li>Integrates with Microsoft Teams</li>
                                <li>Supports 1 Concurrent call per Seat</li>
                                <li>Buy 1 Seat for every phone you order!</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var seats = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("48eb4627-8692-4a3b-8be1-be64bbeea534")).FirstOrDefault();
                                        if (seats is not null && seats.Quantity > 0)
                                        {
                                            <input id="seats" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@seats?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service', '48eb4627-8692-4a3b-8be1-be64bbeea534', $('#seats').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="seats" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service', '48eb4627-8692-4a3b-8be1-be64bbeea534', $('#seats').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="input-group mx-auto input-group-lg">
                        <div class="col">
                            <a class="btn btn-success btn-block shadow-lg" href="/Search">Get a new Phone Number</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-info btn-block shadow-lg" href="/Search">Transfer an existing Phone Number</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <br />
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Web Texting</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$20 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Text from any browser</li>
                                <li>SMS and MMS Supported</li>
                                <li>Never miss a customer</li>
                                <li>Communicate seamlessly</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var webtexting = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("86a8576f-15e4-4547-8705-7c98dbe5e58d")).FirstOrDefault();
                                        if (webtexting is not null && webtexting.Quantity > 0)
                                        {
                                            <input id="webtexting" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@webtexting?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','86a8576f-15e4-4547-8705-7c98dbe5e58d', $('#webtexting').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="webtexting" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','86a8576f-15e4-4547-8705-7c98dbe5e58d', $('#webtexting').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">5G Internet</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$60 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Always stay online!</li>
                                <li>No Overages</li>
                                <li>No Worries</li>
                                <li>Unlimited Use</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var fiveginternet = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("aa8f21df-6562-4c9c-a75b-ca747ade1f2d")).FirstOrDefault();
                                        if (fiveginternet is not null && fiveginternet.Quantity > 0)
                                        {
                                            <input id="fiveginternet" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@fiveginternet?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','aa8f21df-6562-4c9c-a75b-ca747ade1f2d', $('#fiveginternet').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="fiveginternet" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','aa8f21df-6562-4c9c-a75b-ca747ade1f2d', $('#fiveginternet').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Toll Free Number</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>SMS & MMS support</li>
                                <li>Search Custom Numbers</li>
                                <li>Not local or regional</li>
                                <li>Free for clients to call</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var tollfree = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("07a7ef6b-eb30-4a81-bc86-be193ef03aa0")).FirstOrDefault();
                                        if (tollfree is not null && tollfree.Quantity > 0)
                                        {
                                            <input id="tollfree" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@tollfree?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','07a7ef6b-eb30-4a81-bc86-be193ef03aa0', $('#tollfree').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="tollfree" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','07a7ef6b-eb30-4a81-bc86-be193ef03aa0', $('#tollfree').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Fax Server</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$10 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Includes an Extra Phone Number</li>
                                <li>Faxes forwarded to your email!</li>
                                <li>Send faxes from the Web</li>
                                <li>Caller ID on incoming Faxes</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var faxserver = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("1133e9ab-50f1-4eb6-a756-6b705dcbd6e5")).FirstOrDefault();
                                        if (faxserver is not null && faxserver.Quantity > 0)
                                        {
                                            <input id="faxserver" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@faxserver?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','1133e9ab-50f1-4eb6-a756-6b705dcbd6e5', $('#faxserver').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="faxserver" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','1133e9ab-50f1-4eb6-a756-6b705dcbd6e5', $('#faxserver').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">5G Internet - Static IP</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$90 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Static IPv4 address</li>
                                <li>Port Forwarding</li>
                                <li>Fast WiFi 6</li>
                                <li>Unlimited Data</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var lteinternet = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("c236d9af-eee9-4145-9724-44a9ea5e2952")).FirstOrDefault();
                                        if (lteinternet is not null && lteinternet.Quantity > 0)
                                        {
                                            <input id="lteinternet" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@lteinternet?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','c236d9af-eee9-4145-9724-44a9ea5e2952', $('#lteinternet').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="lteinternet" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','c236d9af-eee9-4145-9724-44a9ea5e2952', $('#lteinternet').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4 shadow rounded-3">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">LTE Backup</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Always stay online!</li>
                                <li>No Overages</li>
                                <li>No Worries</li>
                                <li>Unlimited Use</li>
                            </ul>
                            <div class="btn-group">
                                <div class="input-group input-group-lg">
                                    @{
                                        var ltebackup = Model?.ProductOrders?.Where(x => x.ServiceId == Guid.Parse("c7c26e73-a4bd-4c4f-9651-1f4cdc598c7c")).FirstOrDefault();
                                        if (ltebackup is not null && ltebackup.Quantity > 0)
                                        {
                                            <input id="ltebackup" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2" value="@ltebackup?.Quantity">
                                            <div class="input-group-append">
                                                <button onclick="RemoveFromCart('Service','c7c26e73-a4bd-4c4f-9651-1f4cdc598c7c', $('#ltebackup').val(), this)" class="btn btn-outline-danger"><span class="d-none spinner-border spinner-border-sm mr-2" role="status"></span>Remove</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <input id="ltebackup" type="number" min="0" class="form-control form-control" name="Quantity" placeholder="Quantity" aria-label="Quantity" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button onclick="AddToCart('Service','c7c26e73-a4bd-4c4f-9651-1f4cdc598c7c', $('#ltebackup').val(), this)" class="btn btn-outline-primary">
                                                    <span class="d-none spinner-border spinner-border-sm mr-2" role="status">&nbsp;</span>
                                                    Add to Cart
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-auto fixed-bottom bg-white pt-1 pb-1 shadow">
    <div class="container">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-success btn-lg btn-block" asp-controller="Hardware" asp-action="Index">Add Hardware ▷</a>
            </div>
        </div>
    </div>
</div>