@model NumberSearch.Ops.Models.EditCarrier

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4 p-3">📯 Edit Carrier</h1>

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Carrier.CarrierId" />
            <div class="form-group">
                <label asp-for="Carrier.Name" class="control-label"></label>
                <input asp-for="Carrier.Name" class="form-control" />
                <span asp-validation-for="Carrier.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Type" class="control-label"></label>
                <input asp-for="Carrier.Type" class="form-control" />
                <span asp-validation-for="Carrier.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Ocn" class="control-label"></label>
                <input asp-for="Carrier.Ocn" class="form-control" />
                <span asp-validation-for="Carrier.Ocn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Lec" class="control-label"></label>
                <input asp-for="Carrier.Lec" class="form-control" />
                <span asp-validation-for="Carrier.Lec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Lectype" class="control-label"></label>
                <input asp-for="Carrier.Lectype" class="form-control" />
                <span asp-validation-for="Carrier.Lectype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Spid" class="control-label"></label>
                <input asp-for="Carrier.Spid" class="form-control" />
                <span asp-validation-for="Carrier.Spid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.Color" class="control-label"></label>
                <input asp-for="Carrier.Color" class="form-control" />
                <span asp-validation-for="Carrier.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.LogoLink" class="control-label"></label>
                <input asp-for="Carrier.LogoLink" class="form-control" />
                <span asp-validation-for="Carrier.LogoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier.LastUpdated" class="control-label"></label>
                <input asp-for="Carrier.LastUpdated" class="form-control" type="datetime" readonly />
                <span asp-validation-for="Carrier.LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3 mb-3" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>

<h1 class="display-4 p-3">🥠 Lookups with this OCN</h1>

<div class="table-responsive">
    <table class="table table-striped table-borderless table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    DialedNumber
                </th>
                <th scope="col">
                    Lrn
                </th>
                <th scope="col">
                    Ocn
                </th>
                <th scope="col">
                    Lec
                </th>
                <th scope="col">
                    Lectype
                </th>
                <th scope="col">
                    Spid
                </th>
                <th scope="col">
                    DateIngested
                </th>
                <th scope="col">
                    CarrierId
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model?.Lookups.OrderByDescending(x => x?.DateIngested))
            {
                <tr>
                    <td>
                        @product?.DialedNumber
                    </td>
                    <td>
                        @product?.Lrn
                    </td>
                    <td>
                        @product?.Ocn
                    </td>
                    <td>
                        @product?.Lec
                    </td>
                    <td>
                        @product?.Lectype
                    </td>
                    <td>
                        @product?.Spid
                    </td>
                    <td>
                        @product?.DateIngested
                    </td>
                    <td>
                        @product?.CarrierId
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-action="Edit" asp-route-id="@product.PhoneNumberLookupId" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@product.PhoneNumberLookupId" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@product.PhoneNumberLookupId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
