@{
    ViewData["Title"] = "Blog";
}
@model List<WriteAs.NET.Client.Models.Post>

<section class="text-light" style="background-color: #3279B2">
    <div class="container py-5 py-md-6 py-lg-7 mb-7 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-11">
                <h1 class="display-3 text-light d-none d-sm-block">Learn about our Services</h1>
                <h4 class="display-4 text-light d-block d-sm-none">Learn about our Services</h4>
                <p class="lead text-white">Your questions, answered right here.</p>
            </div>
        </div>
    </div>
</section>
<div class="pt-5">
    <div class="container">
        @if (Model is not null && Model.Any())
        {
            foreach (var post in Model!)
            {
                var content = Markdig.Markdown.ToHtml(post.Body);
                content = content.Replace("<img", "<img class=\"img-fluid\"");
                <div class="row">
                    <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1 mb-5">
                        <h1>@post.Title</h1>
                        <hr>
                        <p>@post.LastUpdatedDate.ToShortDateString()</p>
                        @Html.Raw(content)
                        <hr>
                    </div>
                </div>
            }
        }
    </div>
</div>