@model List<NumberSearch.DataAccess.ProductOrder>;

@{
    if (Model?.Count < 1)
    {
        <a id="headerCart" class="navbar-tool-icon-box" href="/Cart"><i class="ai-shopping-cart"></i><span class="d-none navbar-tool-badge" id="cartCounter"></span></a>
    }
    else
    {
        var count = Model?.Count ?? 0;
        <a id="headerCart" class="navbar-tool-icon-box" href="/Cart"><i class="ai-shopping-cart"></i><span class="navbar-tool-badge" id="cartCounter">@count</span></a>
    }
}
