@model List<NumberSearch.DataAccess.ProductOrder>;

@{
    if (Model?.Count < 1)
    {
        <a id="headerCart" class="btn btn-outline-dark btn-lg" asp-controller="Cart" asp-action="Index">Cart&nbsp;<span id="cartCounter" class="d-none badge badge-success badge-pill">0</span></a>
    }
    else
    {
        var count = Model?.Count ?? 0;
        <a id="headerCart" class="btn btn-outline-success btn-lg" asp-controller="Cart" asp-action="Index">Checkout&nbsp;<span id="cartCounter" class="badge badge-success badge-pill">@count</span></a>
    }
}
