@model List<NumberSearch.DataAccess.ProductOrder>;

@{
    if (Model?.Count < 1)
    {
        <a class="btn btn-outline-dark btn-lg" asp-controller="Cart" asp-action="Index">Cart</a>
    }
    else
    {
        <a class="btn btn-outline-success btn-lg" asp-controller="Cart" asp-action="Index">Checkout&nbsp;<span class="badge badge-success badge-pill">@Model?.Count</span></a>
    }
}
