@model AccelerateNetworks.Operations.ProductItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h1 class="display-4 p-3">🎁 Create Product Item</h1>
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductItemId" class="control-label"></label>
                <input asp-for="ProductItemId" class="form-control" readonly/>
                <span asp-validation-for="ProductItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductShipmentId" class="control-label"></label>
                <input asp-for="ProductShipmentId" class="form-control" readonly/>
                <span asp-validation-for="ProductShipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" readonly/>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" readonly/>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MACAddress" class="control-label"></label>
                <input asp-for="MACAddress" class="form-control" />
                <span asp-validation-for="MACAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3" />
            </div>
        </form>
    </div>
</div>

<a href="/ProductItems" class="btn btn-outline-primary">Back to List</a>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
