@model IEnumerable<AccelerateNetworks.Operations.ProductItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 p-3">🛒 Product Items</h1>
    <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>
                    Serial Number
                </th>
                <th>
                    MAC Address
                </th>
                <th>
                    Condition
                </th>
                <th>
                    TeleDynamics Order Id
                </th>
                <th>
                    Tracking
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item?.SerialNumber
                    </td>
                    <td>
                        @item?.MACAddress
                    </td>
                    <td>
                        @item?.Condition
                    </td>
                    <td>@item?.ExternalOrderId</td>
                    @if (!string.IsNullOrWhiteSpace(item?.ShipmentTrackingLink))
                    {
                        <td><a href="@item?.ShipmentTrackingLink" target="_blank" class="btn btn-info">@item?.Carrier - @item?.TrackingNumber</a></td>
                    }
                    else
                    {
                        <td>@item?.Carrier - @item?.TrackingNumber</td>
                    }
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/Home/Order/@item?.OrderId" class="btn btn-outline-primary">Order</a>
                            <a href="/Products/Details/@item?.ProductId" class="btn btn-outline-info">Product</a>
                            <a asp-action="Edit" asp-route-id="@item?.ProductItemId" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item?.ProductItemId" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item?.ProductItemId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>