@model NumberSearch.Ops.Models.CreateLookup

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4 p-3">🥠 Edit Lookup</h1>

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lookup!.PhoneNumberLookupId" />
            <div class="form-group">
                <label asp-for="Lookup!.DialedNumber" class="control-label"></label>
                <input asp-for="Lookup!.DialedNumber" class="form-control" />
                <span asp-validation-for="Lookup!.DialedNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Lrn" class="control-label"></label>
                <input asp-for="Lookup!.Lrn" class="form-control" />
                <span asp-validation-for="Lookup!.Lrn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Ocn" class="control-label"></label>
                <input asp-for="Lookup!.Ocn" class="form-control" />
                <span asp-validation-for="Lookup!.Ocn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Lata" class="control-label"></label>
                <input asp-for="Lookup!.Lata" class="form-control" />
                <span asp-validation-for="Lookup!.Lata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.City" class="control-label"></label>
                <input asp-for="Lookup!.City" class="form-control" />
                <span asp-validation-for="Lookup!.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.State" class="control-label"></label>
                <input asp-for="Lookup!.State" class="form-control" />
                <span asp-validation-for="Lookup!.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Jurisdiction" class="control-label"></label>
                <input asp-for="Lookup!.Jurisdiction" class="form-control" />
                <span asp-validation-for="Lookup!.Jurisdiction" class="text-danger"></span>
            </div>
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" asp-for="Lookup!.Local" type="checkbox" role="switch" id="local">
                <label class="form-check-label" for="local">Local</label>
                <span asp-validation-for="Lookup!.Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Lec" class="control-label"></label>
                <input asp-for="Lookup!.Lec" class="form-control" />
                <span asp-validation-for="Lookup!.Lec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Lectype" class="control-label"></label>
                <input asp-for="Lookup!.Lectype" class="form-control" />
                <span asp-validation-for="Lookup!.Lectype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Spid" class="control-label"></label>
                <input asp-for="Lookup!.Spid" class="form-control" />
                <span asp-validation-for="Lookup!.Spid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.Lidbname" class="control-label"></label>
                <input asp-for="Lookup!.Lidbname" class="form-control" />
                <span asp-validation-for="Lookup!.Lidbname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.LastPorted" class="control-label"></label>
                <input asp-for="Lookup!.LastPorted" class="form-control" type="datetime" readonly />
                <span asp-validation-for="Lookup!.LastPorted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.IngestedFrom" class="control-label"></label>
                <input asp-for="Lookup!.IngestedFrom" class="form-control" />
                <span asp-validation-for="Lookup!.IngestedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.DateIngested" class="control-label"></label>
                <input asp-for="Lookup!.DateIngested" class="form-control" type="datetime" readonly />
                <span asp-validation-for="Lookup!.DateIngested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lookup!.CarrierId" class="control-label"></label>
                <select asp-for="Lookup!.CarrierId" class="form-select mr-sm-2" id="name" required>
                    <option selected>Choose...</option>
                    @if (Model.Carriers is not null)
                    {
                        foreach (var product in Model.Carriers.OrderByDescending(x => x.Name))
                        {
                            <option value="@product.CarrierId">@product.Name - OCN @product.Ocn</option>
                        }
                    }
                </select>
                <span asp-validation-for="Lookup!.CarrierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3 mb-3" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index" class="btn btn-outline-primary">Back to List</a>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
