@model IEnumerable<AccelerateNetworks.Operations.PhoneNumberLookup>
@{
    ViewData["Title"] = "Lookups";
}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4 p-3">🥠 Carrier Lookups</h1>
    <div class="btn-group">
@*         <a asp-action="Create" class="btn btn-lg btn-success">Create New</a>
 *@        <a asp-action="OCNMatchLookups" class="btn btn-lg btn-primary">Match Existing</a>
        <a asp-action="CarrierMatchesLookupOCN" class="btn btn-lg btn-secondary">Verify Matches</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Lookup records are the create when the Numbers in Bulk tool at <a href="https://acceleratenetworks.com/Lookup" target="_blank">https://acceleratenetworks.com/Lookup</a> is used to research a number.</p>
        <p>The Lookups that are shown in the table below have OCNs (Operating Carrier Numbers) that cannot be matched to an existing Carrier. To see all existing Carriers please check out the Carriers page. You can use a lookup as the template for a new Carrier record by clicking on the "New Carrier" button next to the lookup you want to create a Carrier for. Once you've created a new Carrier for that lookup all of the other lookup records with the same OCN will be marked with Carrier's information and disappear from this page.</p>
        <p>Although a single Carrier can have multiple OCNs, SPIDs, and LECtypes we represent them as a unique Carrier record based on the combination of those three properties. This is why there are often multiple records for major Carriers.</p>
        <p>The Match Existing button will review the OCN of each lookup record and try to match it to the OCN of an existing Carrier record. Before you start creating new Carriers it's recommended that you clikck the Match Existing button first so that you can avoid creating duplicate Carrier records.</p>
        <p>The Verify Match button reviews all of the lookups and compares their OCN to the OCN of the Carrier record that they are associated with. If they don't match then the lookup is update to remove the reference to the Carrier. This is helpful to clean up after a lookup record is incorrectly associated with a Carrier due to editing of the lookup record.</p>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">
                    Ocn
                </th>
                <th scope="col">
                    Lec
                </th>
                <th scope="col">
                    Lectype
                </th>
                <th scope="col">
                    Spid
                </th>
                <th scope="col">
                    DialedNumber
                </th>
                <th scope="col">
                    Lrn
                </th>
                <th scope="col">
                    DateIngested
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderByDescending(x => x?.DateIngested))
            {
                <tr>
                    <td>
                        @product?.Ocn
                    </td>
                    <td>
                        @product?.Lec
                    </td>
                    <td>
                        @product?.Lectype
                    </td>
                    <td>
                        @product?.Spid
                    </td>
                    <td>
                        @product?.DialedNumber
                    </td>
                    <td>
                        @product?.Lrn
                    </td>
                    <td>
                        @product?.DateIngested
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Carriers" asp-action="FromLookup" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-success">New Carrier</a>
                            <a asp-action="Edit" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@product?.PhoneNumberLookupId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>