@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary mb-3" style="width: 3rem; height: 3rem; display: none" role="status" id="loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>
