@model NumberSearch.DataAccess.ContactForm;

@{
    ViewData["Title"] = "Contact";
}
<div class="jumbotron">
    <h1 class="display-4">Need help? Contact us!</h1>
    <p class="lead">Give us a ring at 206-858-8757 (texting is welcome) or <a href="mailto:support@acceleratenetworks.com?Subject=Help%20me%20with%20?" target="_top">email us</a>.</p>
    <div class="order-md-1">
        <h4 class="mb-3">Your Contact Information</h4>
        <form asp-action="Contact" method="post" class="needs-validation" novalidate="">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="Alexander" value="" required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Bell" value="" required="">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email </label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>

            <div class="mb-3">
                <label for="address">Phone Number</label>
                <input asp-for="PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="20161233421" required="">
                <div class="invalid-feedback">
                    Please enter your phone number.
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Contact Us</button>
        </form>
    </div>
</div>