@model             TaxRateResult
@{
    ViewData["Title"] = "Create a Tax Rate";
}
<br />
<h1 class="display-4">Tax Rate by Address</h1>
<br />
<form action="/Home/TaxRatesNew" method="post">
    @Html.AntiForgeryToken();
    <div class="mb-3">
        <label for="address">Address <span class="text-muted">(Optional)</span></label>
        <input asp-for="Address" type="text" class="form-control" id="address" placeholder="1234 Main St">
        <div class="invalid-feedback">
            Please enter your shipping address.
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-3">
            <label for="country">City <span class="text-muted">(Optional)</span></label>
            <input asp-for="City" type="text" class="form-control" id="city" placeholder="Seattle">
            <div class="invalid-feedback">
                Please enter your shipping city.
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input asp-for="Zip" type="text" class="form-control" id="zip" placeholder="98199" required>
            <div class="invalid-feedback">
                Zip code required.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Update</button>
    <br />
</form>