@model NumberSearch.DataAccess.PhoneNumberOrder;

@{
    ViewData["Title"] = "Order Complete";
    var orderDate = Model.DateSubmitted.ToShortDateString() + "!";
    var number = Model.DialedNumber;
}

<div class="container">
    <br />
    <div class="pricing-header mx-auto pb-3 text-center">
        <h1 class="display-4">Success</h1>
    </div>
    <br />
    <div class="alert alert-success" role="alert">
        Phone number @number has been reserved on @orderDate
    </div>
    <div class="alert alert-info" role="alert">
        A confirmation email will be sent to @Model.Email shortly.
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Need help? Contact us!</h1>
        <p class="lead">Give us a ring at 206-858-8757 (texting is welcome) or <a href="mailto:support@acceleratenetworks.com?Subject=Help%20me%20with%20?" target="_top">email us</a>.</p>
    </div>
</div>