<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accelerate Networks</title>
    <link rel="icon" href="~/images/scaled/favicon-194x194.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 p-3" href="/">
            <img src="~/images/scaled/accelerate.png" alt="Accelerate Networks" class="img-fluid" style="width: 10rem;">
        </a>
        <ul class="navbar ml-auto mt-auto">
            <a class="btn btn-danger" target="_blank" href="https://github.com/AccelerateNetworks/NumberSearch/issues/new/choose">🐛 File a Bug </a>
            <partial name="_LoginPartial" />
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-white sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <h4 class="sidebar-heading d-flex justify-content-between align-items-center pt-3 mb-1 text-muted">
                            <span>Orders</span>
                        </h4>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Order">
                                🛒   Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Quotes">
                                ✨   Quotes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/TaxRates">
                                ⚖️   Tax Rates
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Emails/">
                                📧    Sent Emails
                            </a>
                        </li>
                        <h4 class="sidebar-heading d-flex justify-content-between align-items-center mt-1 mb-1 text-muted">
                            <span>Phone Numbers</span>
                        </h4>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Numbers/">
                                ☎️   Available Numbers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NumberOrders/">
                                🧾   Purchased Numbers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NumbersToVerify/">
                                🛎️   Numbers To Verify
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/PortRequests/">
                                🚢   Port Requests
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/OwnedNumbers/">
                                🏢   Owned Numbers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/EmergencyInformation">
                                🚨   Emergency Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Products">
                                🎁 Hardware
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Shipment">
                                📦 Shipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Coupons">
                                ✨ Coupons
                            </a>
                        </li>
                        <h4 class="sidebar-heading d-flex justify-content-between align-items-center mt-1 mb-1 text-muted">
                            <span>Tools</span>
                        </h4>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Ingests/">
                                💨   Ingest Configuration
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Tests/">
                                🤔   Tests
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="~/lib/DataTables/DataTables-1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/lib/DataTables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
