<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accelerate Networks</title>
    <link rel="icon" href="~/images/scaled/favicon-194x194.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar sticky-top navbar-dark bg-light p-0">
        <div class="container-fluid">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0 p-3" href="/">
                <img src="~/images/scaled/accelerate.png" alt="Accelerate Networks" class="img-fluid" style="width: 10rem;">
            </a>
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <a class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="~/images/scaled/accelerate.png" alt="Accelerate Networks" class="img-fluid" style="width: 10rem;">
                    </a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        @if (User.IsInRole("Support") || User.IsInRole("Sales"))
                        {
                            <a class="nav-link text-dark" href="/">
                                🛒 Orders
                            </a>
                            <a class="nav-link text-dark" href="/Home/Quotes">
                                ✨ Quotes
                            </a>
                        }
                        @if (User.IsInRole("Support"))
                        {
                            <hr />
                            <a class="nav-link text-dark" href="/Messaging/Failed">
                                🙅 Failed Messages
                            </a>
                            @*                             <a class="nav-link text-dark" href="/Identity/Account/Login">
                        📱 Apps
                        </a> *@
                            @*                             <a class="nav-link text-dark" href="/Numbers/">
                        ☎️ Available Numbers
                        </a> *@
                            <a class="nav-link text-dark" href="/Home/Coupons">
                                🎟️ Coupons
                            </a>
                            <a class="nav-link text-dark" href="/Home/E911">
                                🚨   E911
                            </a>
                            <a class="nav-link text-dark" href="/Products">
                                ⚙️ Hardware
                            </a>
                            @*                             <a class="nav-link text-dark" href="/Home/Ingests/">
                        💨   Ingest Configuration
                        </a> *@
                            <a class="nav-link text-dark" href="/Messaging">
                                💬 Messaging Users
                            </a>
                            @*                             <a class="nav-link text-dark" href="/Home/NumbersToVerify/">
                        🛎️   Numbers To Verify
                        </a> *@
                            <a class="nav-link text-dark" href="/Home/OwnedNumbers/">
                                🏢 Owned Numbers
                            </a>
                            <a class="nav-link text-dark" href="https://acceleratenetworks.com/Hardware/PartnerPriceList" target="_blank">
                                🎅 Partner Price List
                            </a>
                            <a class="nav-link text-dark" href="/Home/PortRequests/">
                                🚢 Port Requests
                            </a>
                            <a class="nav-link text-dark" href="/ProductItems">
                                📦 Product Items
                            </a>
                            <a class="nav-link text-dark" href="/Home/NumberOrders/">
                                📞 Purchased Numbers
                            </a>
                            <a class="nav-link text-dark" href="/Home/Emails/">
                                📧 Sent Emails
                            </a>
                            <a class="nav-link text-dark" href="/ProductShipments">
                                📦 Shipments
                            </a>
                            <a class="nav-link text-dark" href="/Home/TaxRates">
                                ⚖️ Tax Rates
                            </a>
                            <hr />
                            <a class="nav-link text-dark" href="/Lookups">
                                👀 Carriers Lookups
                            </a>
                            <a class="nav-link text-dark" href="/Carriers">
                                📯 Carriers
                            </a>
                            <hr />
                            <a class="nav-link text-dark" href="/Roles">
                                👔 Roles
                            </a>
                            <a class="nav-link text-dark" href="/Users">
                                🧑‍🤝‍🧑 Users
                            </a>
                        }
                        <hr />
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

