@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Orders", "Home", new { area = "" })">
        <button type="submit" class="btn btn-danger nav-link">Logout</button>
    </form>
}
else
{
    <a class="p-2 text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="p-2 text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
