@model NumberSearch.Mvc.OrderWithPorts;

@{
    ViewData["Title"] = "Added Porting Information";
    var orderDate = Model?.Order?.DateSubmitted.ToLocalTime().ToShortDateString() + "!";
}


<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Success</h1>
    </div>
    <br />
    <div class="alert alert-success" role="alert">
        Additional porting information for Order Id @Model?.Order?.OrderId has been submitted on @orderDate
    </div>
    <div class="alert alert-info" role="alert">
        A confirmation email will be sent to @Model?.Order?.Email shortly.
    </div>
    <div class="jumbotron shadow pb-5">
        <h1 class="display-4">Need help? Contact us!</h1>
        <p class="lead">Give us a ring at 206-858-8757 (texting is welcome) or <a href="mailto:support@acceleratenetworks.com?Subject=Help%20me%20with%20?" target="_top">email us</a>.</p>
    </div>
</div>
