@model NumberSearch.Mvc.OrderWithPorts;

@{
    ViewData["Title"] = "Added Porting Information";
    var orderDate = Model.Order.DateSubmitted.ToLocalTime().ToShortDateString() + "!";
}

<header class="navbar navbar-expand-lg navbar-light bg-light navbar-sticky navbar-shadow" data-scroll-header data-fixed-element>
  <div class="container px-0 px-xl-3">
    <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand flex-shrink-0 order-lg-1 ms-lg-0 pe-lg-2 me-lg-4" href="/"><img class="d-none d-lg-block" src="/images/scaled/accelerate.png" alt="Accelerate Networks" width="153"><img class="d-lg-none" src="img/original/favicon-194x194.png" alt="Accelerate Networks" width="58"></a>
    <div class="d-flex align-items-center order-lg-3 ms-lg-auto"><a class="nav-link-style fs-sm text-nowrap d-none d-lg-inline-block" href="tel:12068588757">Talk to an expert: <strong>(206) 858-8757</strong></a><a class="d-md-none text-reset" href="tel:12068588757"><i class="ai-phone fs-xl me-2 align-middle"></i></a><a class="btn btn-brand-secondary ms-grid-gutter d-none d-lg-inline-block" href="/pricing">Get started</a></div>
    <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
      <div class="offcanvas-header navbar-shadow">
        <h5 class="mt-1 mb-0">Menu</h5>
        <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Menu-->
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
          <li class="nav-item dropdown"><a class="nav-link" href="#" data-bs-toggle="dropdown">Resources</a>
            <div class="dropdown-menu" style="min-width:400px">
              <div class="row">
                <div class="col-sm-6"><a class="dropdown-item" href="/support">Knowledge base</a><a class="dropdown-item" href="/lookup">Port your number</a></div>
                <div class="col-sm-6"><a class="dropdown-item" href="https://blog.acceleratenetworks.com">Blog</a><a class="dropdown-item" href="/about">About us</a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="offcanvas-footer border-top">
        <button class="btn btn-brand-secondary btn-sm w-100" type="button">Get started</button>
      </div>
    </div>
  </div>
</header>


<div class="container">
    <br />
    <div class="pricing-header mx-auto p-2 text-center">
        <h1 class="display-4">Success</h1>
    </div>
    <br />
    <div class="alert alert-success" role="alert">
        Additional porting information for Order Id @Model.Order.OrderId has been submitted on @orderDate
    </div>
    <div class="alert alert-info" role="alert">
        A confirmation email will be sent to @Model.Order.Email shortly.
    </div>
    <div class="jumbotron shadow pb-5">
        <h1 class="display-4">Need help? Contact us!</h1>
        <p class="lead">Give us a ring at 206-858-8757 (texting is welcome) or <a href="mailto:support@acceleratenetworks.com?Subject=Help%20me%20with%20?" target="_top">email us</a>.</p>
    </div>
</div>
