@model NumberSearch.Ops.Models.EditProductShipment;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 p-3">📦 Edit Product Shipment</h1>

@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shipment!.ProductShipmentId!" />
            <div class="form-group">
                <label asp-for="Shipment!.ProductId" class="control-label"></label>
                <input asp-for="Shipment!.ProductId" class="form-control" />
                <span asp-validation-for="Shipment!.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.OrderId" class="control-label"></label>
                <input asp-for="Shipment!.OrderId" class="form-control" />
                <span asp-validation-for="Shipment!.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.BillingClientId" class="control-label"></label>
                <input asp-for="Shipment!.BillingClientId" class="form-control" />
                <span asp-validation-for="Shipment!.BillingClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.Name" class="control-label"></label>
                <input asp-for="Shipment!.Name" class="form-control" />
                <span asp-validation-for="Shipment!.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.ShipmentSource" class="control-label"></label>
                <input asp-for="Shipment!.ShipmentSource" class="form-control" />
                <span asp-validation-for="Shipment!.ShipmentSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.PurchasePrice" class="control-label"></label>
                <input asp-for="Shipment!.PurchasePrice" class="form-control" />
                <span asp-validation-for="Shipment!.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.ShipmentType" class="control-label"></label>
                <input asp-for="Shipment!.ShipmentType" class="form-control" />
                <span asp-validation-for="Shipment!.ShipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.Quantity" class="control-label"></label>
                <input asp-for="Shipment!.Quantity" class="form-control" />
                <span asp-validation-for="Shipment!.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shipment!.DateCreated" class="control-label"></label>
                <input asp-for="Shipment!.DateCreated" class="form-control" />
                <span asp-validation-for="Shipment!.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3 mb-3" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="/ProductItems/Create/@Model?.Shipment?.ProductShipmentId" class="btn btn-warning text-white mb-3">Create Product Items For This Shipment</a>
</div>
@if (Model?.ProductItems is not null)
{
    <div class='table-responsive'>
        <table class='table table-borderless table-hover'>
            <thead>
                <tr>
                    <th>
                        Serial Number
                    </th>
                    <th>
                        MAC Address
                    </th>
                    <th>
                        Condition
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.ProductItems is not null)
                {
                    foreach (var item in Model.ProductItems)
                    {
                        <tr>
                            <td>
                                @item.SerialNumber
                            </td>
                            <td>
                                @item.MACAddress
                            </td>
                            <td>
                                @item.Condition
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/ProductItems/Edit/@item?.ProductItemId" class="btn btn-warning">Edit</a>
                                    <a href="/ProductItems/Details/@item?.ProductItemId" class="btn btn-primary">Details</a>
                                    <a href="/ProductItems/Delete/@item?.ProductItemId" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
@if (Model?.Shipment?.OrderId is not null)
{
    <p>
        <a href="/Home/Order/@Model?.Shipment?.OrderId" class="btn btn-danger">Edit Order</a>
    </p>
}
<div>
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
