/* Space out content a bit */
body {
    /*padding-top: 1.5rem;
    padding-bottom: 1.5rem;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

    /* Make the masthead heading the same height as the navigation */
    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 3rem;
    }

/* Custom page footer */
.footer {
    color: #777;
}

.container-narrow > hr {
    margin: 2rem 0;
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }

    .display-4 {
        font-size: 2rem;
    }

    .p {
        margin: 0.5rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        padding: 2rem 2rem;
        border-bottom: 0;
    }
}


/* Begin BTCPhone hax here */
.table th {
    border-top: 0;
}

.line-up-form {
    display: inline;
}

.hidden {
    display: none;
}

.input-block-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-block-middle {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-block-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary {
    color: white;
    background-color: #3279B2;
    border-color: #3279B2;
}

    .btn-primary:hover {
        color: white;
        background-color: #BB6026;
        border-color: #BB6026;
    }

.btn-outline-primary {
    color: #3279B2;
    border-color: #3279B2;
}

    .btn-outline-primary:hover {
        background-color: #BB6026;
        border-color: #BB6026;
    }

/* unvisited link */
a {
    color: #3279B2;
}

    /* mouse over link */
    a:hover {
        color: #BB6026;
    }

    /* selected link */
    a:active {
        color: #3279B2;
    }

.btn-info {
    color: white;
    background-color: #3279B2;
    border-color: #3279B2;
}

    .btn-info:hover {
        color: white;
        background-color: #BB6026;
        border-color: #BB6026;
    }

.text-primary {
    color: #3279B2 !important;
    font-size: 1.6rem;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
}
